<f:section name="form">
	<div class="row news-filter">
		<div class="col-sm-12">
			<f:form name="overwriteDemand" object="{overwriteDemand}" actionUri="{f:uri.page(noCache: 1)}" method="POST" class="form-inline" additionalAttributes="{role: 'form'}">
				<f:if condition="{types -> f:count()}>0">
					<div class="form-group">
						<f:render section="types" arguments="{types: types}" />
					</div>
				</f:if>
				<f:if condition="{categories}">
					<div class="form-group">
						<f:render section="categories" arguments="{categories: categories, categoriesTree:categoriesTree}" />
					</div>
				</f:if>
				<f:if condition="{targets}">
					<div class="form-group">
						<f:render section="targets" arguments="{targets: targets}" />
					</div>
				</f:if>
				<f:if condition="{years}">
					<div class="form-group">
						<f:render section="years" arguments="{years: years}" />
					</div>
				</f:if>
				<f:form.submit value="filtern" class="btn btn-default" />
			</f:form>
		</div>
	</div>	
</f:section>

<f:section name="categories">
	<div class="filter filterCategory">
		<f:form.select prependOptionValue="0" prependOptionLabel="Alle Kategorien" property="categories" options="{categories}" class="form-control" />
		<f:form.hidden property="categoryConjunction" value="or" />
		<f:form.hidden property="includeSubCategories" value="1" />
	</div>
</f:section>

<f:section name="targets">
	<div class="filter filterTargets">
		<f:form.select prependOptionValue="0" prependOptionLabel="Alle Zielgruppen" property="targets" options="{targets}" class="form-control" />
	</div>
</f:section>

<f:section name="types">
	<div class="filter filterTypes">
		<f:form.select prependOptionValue="" prependOptionLabel="Alle Eintragsarten" property="type" options="{types}" class="form-control" />
	</div>
</f:section>

<f:section name="years">
	<div class="filter filterYear">
		<f:form.select prependOptionValue="0" prependOptionLabel="Ohne Jahresangabe" property="year" options="{years}" class="form-control" />
	</div>
</f:section>