{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace n=Tx_MooxNews_ViewHelpers}
<!--
	=====================
		Partials/List/Item.html
-->

<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
	<n:excludeDisplayedNews newsItem="{newsItem}" />
	
	<div class="news-list-item-top-header">
		<div class="page-header news-list-header">
			<n:link newsItem="{newsItem}" settings="{settings}">
				<h4>{newsItem.title} <small class="pull-right"><span class="date"><n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date></span><f:if condition="{newsItem.firstCategory}"> <span class="pipe">&#448;</span> <span class="category">{newsItem.firstCategory.title}</span></f:if></small></h4>
			</n:link>
		</div>
	</div>
	<div class="row news-list-item-content">
		<div class="{f:if(condition: newsItem.falMedia, then: 'col-sm-8', else: 'col-sm-12')} news-list-teaser-text">
			<f:if condition="{newsItem.teaser}">
				<f:then>						
					<f:format.html>{newsItem.teaser}</f:format.html>
				</f:then>
				<f:else>
					<f:if condition="{settings.cropMaxCharacters}">
						<f:then>
							<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
						</f:then>
						<f:else>
							<f:format.html><f:format.crop maxCharacters="250" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
						</f:else>
					</f:if>
				</f:else>											
			</f:if>
			<n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-primary more hidden-xs">
				<f:translate key="more-link" />
			</n:link>
		</div>
		<f:if condition="{newsItem.falMedia}">
			<f:then>
				<div class="col-sm-4 news-list-teaser-image">
					<f:if condition="{newsItem.falMediaPreviews}">
						<f:then>
							<n:link newsItem="{newsItem}" settings="{settings}">
								<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
									<f:if condition="{mediaElement.originalResource.type} == 2">
										<picture>
											<!--[if IE 9]><video style="display: none;"><![endif]-->
											<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 1200, treatIdAsReference: 1)}" media="(min-width: 1200px)">
											<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 992, treatIdAsReference: 1)}" media="(min-width: 992px)">
											<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 768, treatIdAsReference: 1)}" media="(min-width: 768px)">
											<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 640, treatIdAsReference: 1)}" media="(min-width: 640px)">
											<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 480, treatIdAsReference: 1)}" media="(min-width: 480px)">
											<source srcset="{v:uri.image(src: mediaElement.uid, maxW: 400, treatIdAsReference: 1)}" media="(min-width: 400px)">
											<!--[if IE 9]></video><![endif]-->
											<img srcset="{v:uri.image(src: mediaElement.uid, maxW: 320, treatIdAsReference: 1)}" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" class="img-responsive" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}">
										</picture>
									</f:if>
									<f:if condition="{mediaElement.originalResource.type} == 4">
										<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
									</f:if>
								</f:alias>
							</n:link>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
								<span class="no-media-element"></span>
							</f:if>
						</f:else>
					</f:if>
					<n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-primary more hidden-sm hidden-md hidden-lg">
						<f:translate key="more-link" />
					</n:link>
				</div>
			</f:then>
		</f:if>
	</div>
</div>
