{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/administration.css')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" loadExtJsTheme="false" extJsAdapter="jQuery" loadJQuery="true" loadPrototype="false">
	<script src="{f:uri.resource(path:'JavaScript/administration.js')}" type="text/javascript"></script>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:comment>
						<f:if condition="{page}!=0">
							<f:be.buttons.csh />
							<f:be.menus.actionMenu>
								<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.newsListing')}" controller="Administration" action="index" />
								<f:be.menus.actionMenuItem label="{f:translate(key: 'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.newsPidListing')}" controller="Administration" action="newsPidListing" />
							</f:be.menus.actionMenu>
						</f:if>
					</f:comment>
				</div>

				<div class="right">
					<f:if condition="{page} != 0">
						<f:be.pagePath />
						<f:be.pageInfo />
					</f:if>
				</div>
			</div>

			<div class="typo3-docheader-buttons">
				<div class="left">
					<f:if condition="{page} != 0">						
						<f:if condition="{types -> f:count()}>1">
							<f:then>								
								<div class="news-new-buttons-top">
									<f:link.action action="newNews" title="News hinzufügen">
										<span id="news-new-top-selection-extender" style="vertical-align: top;margin: 0px;margin-top: -3px" title="News hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>									
									</f:link.action>
									<ul id="news-new-selection-top" class="news-new-selection-top">
										<li class="news-new-selection-header">Was wollen Sie hinzufügen?</li>
										<f:for each="{types}" as="typeDesc" key="typeId" iteration="iteration">
											<f:if condition="{typeId}!='0'">
												<f:then>							
													<li>
														<f:link.action action="newNews" arguments="{type:typeId}" title="{typeDesc} hinzufügen">
															<v:media.exists file="typo3conf/ext/{typeId}/Resources/Public/Icons/list-icon.png" >
																<f:then>							
																	<span title="{typeDesc} hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{typeId}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>{typeDesc}
																</f:then>
																<f:else>														
																	<span title="{typeDesc} hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>{typeDesc}
																</f:else>
															</v:media.exists>
														</f:link.action>
													</li>
												</f:then>
												<f:else>														
													<li>
														<f:link.action action="newNews" arguments="{type:typeId}" title="{typeDesc} hinzufügen">
															<span title="{typeDesc}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>{typeDesc}
														</f:link.action>
													</li>
												</f:else>
											</f:if>
										</f:for>
									</ul>
								</div>								
							</f:then>
							<f:else>
								<div class="news-new-buttons-top">
									<f:for each="{types}" as="typeDesc" key="typeId" iteration="iteration">
										<f:link.action action="newNews" arguments="{type:typeId}" title="{f:translate(key:'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.createNewNewsRecord')}">
											<span style="vertical-align: top;margin: 0px;margin-top: -3px" title="News hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>
										</f:link.action>
									</f:for>
								</div>
							</f:else>							
						</f:if>
						<n:be.security.ifAccessToTableIsAllowed table="tx_mooxnews_domain_model_category">
							<f:link.action action="newCategory" title="{f:translate(key:'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.createNewCategory')}">
								<f:image src="{f:uri.resource(path:'Icons/news_domain_model_category_add.png')}" />
							</f:link.action>
						</n:be.security.ifAccessToTableIsAllowed>
						<n:be.security.ifAccessToTableIsAllowed table="tx_mooxnews_domain_model_tag">
							<f:link.action action="newTag" title="{f:translate(key:'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.createNewTag')}">
								<f:image src="{f:uri.resource(path:'Icons/news_domain_model_tag_add.png')}" />
							</f:link.action>
						</n:be.security.ifAccessToTableIsAllowed>
						<n:be.security.ifAccessToTableIsAllowed table="tx_mooxnews_domain_model_target">
							<f:link.action action="newTarget" title="{f:translate(key:'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.createNewTarget')}">
								<f:image src="{f:uri.resource(path:'Icons/news_domain_model_target_add.png')}" />
							</f:link.action>
						</n:be.security.ifAccessToTableIsAllowed>
					</f:if>
				</div>
				<div class="right">
					<f:link.action class="mooxnews-window-open" action="index" target="_blank" additionalParams="{id:page}">
						&nbsp;
					</f:link.action>				
					<f:if condition="{page} != 0">
						<f:be.buttons.shortcut />
					</f:if>
				</div>
			</div>
		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="news-administration">
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>