{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:for each="{fields}" as="field" iteration="iteration">
	<v:variable.set name="text" value="" />
	<v:variable.set name="value" value="{n:getExtendedField(newsItem:item, extendedFieldName:field.name)}" />
	<v:switch value="{field.type}">
		<v:case case="date" break="TRUE">
			<f:if condition="{f:format.date(format:'Y', date:value)}>1970">
				<v:variable.set name="text">
					<f:format.date format="d.m.Y">{value}</f:format.date>
				</v:variable.set>
			</f:if>
		</v:case>
		<v:case case="datetime" break="TRUE">
			<f:if condition="{f:format.date(format:'Y', date:value)}>1970">
				<v:variable.set name="text">
					<f:format.date format="d.m.Y H:i:s">{value}</f:format.date>
				</v:variable.set>
			</f:if>
		</v:case>
		<v:case case="currency" break="TRUE">
			<v:variable.set name="text">
				<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." prependCurrency="FALSE" separateCurrency="TRUE" decimals="2">{value}</f:format.currency>													
			</v:variable.set>
		</v:case>		
		<v:case case="default">
			<v:variable.set name="text" value="{value}" />
			<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
		</v:case>
	</v:switch>
	<f:for each="{field.additional}" as="additionalField">
		<v:variable.set name="value" value="{n:getExtendedField(newsItem:item, extendedFieldName:additionalField.name)}" />		
		<v:switch value="{additionalField.type}">
			<v:case case="date" break="TRUE">
				<f:if condition="{f:format.date(format:'Y', date:value)}>1970">
					<v:variable.set name="text">
						<f:format.date format="d.m.Y">{value}</f:format.date>
					</v:variable.set>
				</f:if>
			</v:case>
			<v:case case="datetime" break="TRUE">
				<f:if condition="{f:format.date(format:'Y', date:value)}>1970">
					<v:variable.set name="text">
						<f:format.date format="d.m.Y H:i:s">{value}</f:format.date>
					</v:variable.set>
				</f:if>
			</v:case>
			<v:case case="currency" break="TRUE">
				<v:variable.set name="text">
					<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." prependCurrency="FALSE" separateCurrency="TRUE" decimals="2">{value}</f:format.currency>													
				</v:variable.set>
			</v:case>		
			<v:case case="default">
				<v:variable.set name="text" value="{value}" />
				<v:variable.set name="text" value="{f:format.stripTags(value: text)}" />
			</v:case>
		</v:switch>
		<v:variable.set name="text" value="{text}{fieldsSeparator}{additionalText}" />
	</f:for>
	<f:for each="{replacements}" as="replacement">
		<v:variable.set name="text" value="{v:format.replace(substring: replacement.search, content: text, replacement: replacement.replace)}" />
	</f:for>	
	<td>		
		<f:format.raw>{text -> f:format.crop(maxCharacters: field.lenght)}</f:format.raw>
	</td>				
</f:for>