{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="firstCategory" value="{v:iterator.first(haystack: newsItem.categories)}" />
<v:variable.set name="previewPid" value="{f:if(condition: firstCategory.previewPid, then: firstCategory.previewPid, else: settings.defaultPreviewPid)}" />
<f:if condition="{previewBaseUrl}==''">
	<v:variable.set name="previewBaseUrl" value="{v:site.url()}" />
</f:if>
<v:media.exists file="typo3conf/ext/{newsItem.type}/Resources/Private/Language/locallang_db.xlf" >
	<f:then>
		<v:variable.set name="type">
			<v:l key="LLL:EXT:{newsItem.type}/Resources/Private/Language/locallang_db.xlf:tx_{newsItem.type -> v:format.replace(substring: '_', replacement: '')}_domain_model_news" />
		</v:variable.set>						
	</f:then>
	<f:else>
		<f:if condition="{newsItem.isSeminar}">
			<f:then>
				<v:variable.set name="type">
					Seminar
				</v:variable.set>
			</f:then>
			<f:else>
				<v:variable.set name="type">
					<v:l key="LLL:EXT:moox_news/Resources/Private/Language/locallang_db.xlf:tx_mooxnews_domain_model_news" />
				</v:variable.set>
			</f:else>
		</f:if>		
	</f:else>
</v:media.exists>
<tr id="mooxnews-row-{newsItem.uid}" class="tx-moox-news-admin-table-row{f:if(condition: iteration.isLast, then: ' tx-moox-news-admin-table-row-last')}">
	<td class="actions" style="width: {f:if(condition: demand.sortingMode, then:220,else:180)}px">
		<f:if condition="{demand.sortingMode}">	
			<f:then>
				<v:variable.set name="currentSortingUrl" value="{sortingUrl -> v:format.replace(substring: '---uid---', replacement: newsItem.uid)}" />			
				<f:if condition="{v:variable.get(name:'sortHelper.uid{newsItem.uid}.up')}!='0'">
					<f:then>
						<v:variable.set name="posReplace" value="{v:variable.get(name:'sortHelper.uid{newsItem.uid}.up')}" />
						<v:variable.set name="currentSortingUrlUp" value="{v:format.replace(content:currentSortingUrl,substring:'---pos---',replacement:posReplace)}" />
						<a href="#" onclick="return jumpToUrl('{currentSortingUrlUp}')" title="Nach oben verschieben">
							<span class="t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-up">&nbsp;</span>
						</a>
					</f:then>
					<f:else>							
						<span class="t3-icon t3-icon-empty t3-icon-empty-empty t3-icon-empty">&nbsp;</span>
					</f:else>
				</f:if>
				<f:if condition="{v:variable.get(name:'sortHelper.uid{newsItem.uid}.down')}!='0'">
					<f:then>
						<v:variable.set name="posReplace" value="{v:variable.get(name:'sortHelper.uid{newsItem.uid}.down')}" />
						<v:variable.set name="currentSortingUrlDown" value="{v:format.replace(content:currentSortingUrl,substring:'---pos---',replacement:posReplace)}" />					
						<a href="#" onclick="return jumpToUrl('{currentSortingUrlDown}')" title="Nach unten verschieben">
							<span style="margin-right: 20px" class="t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
						</a>
					</f:then>
					<f:else>							
						<span style="margin-right: 20px" class="t3-icon t3-icon-empty t3-icon-empty-empty t3-icon-empty">&nbsp;</span>
					</f:else>
				</f:if>		
			</f:then>
			<f:else>
				<f:form.checkbox class="mooxnews-checkbox" name="items[]" value="{newsItem.uid}" />
			</f:else>
		</f:if>		
		<f:if condition="{previewPid}">
			<a href="#" onclick="var previewWin = window.open('{previewBaseUrl}index.php?id={previewPid}&no_cache=1&tx_mooxnews_pi1[news_preview]={newsItem.uid}&tx_mooxnews_pi1[news_preview_hash]={newsItem.previewHash}&tx_mooxnews_pi1[controller]=News&tx_mooxnews_pi1[action]=detail','newTYPO3frontendWindow');previewWin.focus();">
				<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-view">&nbsp;</span>
			</a>		
		</f:if>
		<f:link.action action="deleteNews" arguments="{uid:newsItem.uid}" onclick="return window.confirm('Wollen Sie diesen Eintrag wirklich löschen?')" title="UID: {newsItem.uid} löschen">
			<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
		</f:link.action>		
		<a href="" title="UID: {newsItem.uid}" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tx_mooxnews_domain_model_news][{newsItem.uid}]=edit'; return false;">			
			<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
		</a>
		<f:link.action action="toggleNewsState" arguments="{uid:newsItem.uid}" title="UID: {newsItem.uid} {f:if(condition: newsItem.hidden, then: 'aktivieren', else: 'deaktivieren')}">
			<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-{f:if(condition: newsItem.hidden, then: 'unhide', else: 'hide')}">&nbsp;</span>
		</f:link.action>
		<f:if condition="{mailerActive}">
			<v:switch value="{newsItem.mailerFrequency}">
				<v:case case="1" break="TRUE">
					<span title="Eintrag ist derzeit für den Einzelversand von Mails vorgemerkt" class="t3-icon mooxnews-mailing-activated">&nbsp;</span>					
				</v:case>
				<v:case case="2" break="TRUE">
					<span title="Eintrag ist derzeit für den kumulierten Mailversand vorgemerkt" class="t3-icon mooxnews-mailing-activated"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-scheduled t3-icon-overlay">&nbsp;</span></span>					
				</v:case>
				<v:case case="default">
					<span title="Eintrag ist derzeit für keinen Mailversand vorgemerkt" class="t3-icon mooxnews-mailing-deactivated">&nbsp;</span>
				</v:case>
			</v:switch>
		</f:if>	
		<f:if condition="{folders -> f:count()}>1">
			<div class="news-move">
				<f:image id="news-move-expander-{newsItem.uid}" class="news-move-expander" src="EXT:moox_news/Resources/Public/Icons/icon-move.png" alt="In Ordner verschieben" />	
				<div id="news-move-selection-{newsItem.uid}" class="news-move-selection">
					<ul>
						<li class="news-new-selection-header">In welchen Ordner wollen Sie den Eintrag "{newsItem.title}" verschieben?</li>
						<f:for each="{folders}" as="moveFolder" iteration="iteration">									
							<f:if condition="{page}!={moveFolder.uid}">
								<f:if condition="{moveFolder.news_types}!=''">
									<f:then>							
										<v:condition.iterator.contains needle="{newsItem.type}" haystack="{v:iterator.explode(content: moveFolder.news_types, glue: ',')}">			
											<f:then>
												<li>								
													<f:link.action action="moveToFolder" arguments="{pid:moveFolder.uid,uid:newsItem.uid}" title="UID: {moveFolder.uid}"><f:if condition="{moveFolder.folder}">&nbsp;&nbsp;&nbsp;&nbsp;</f:if><span title="{moveFolder.title} [UID: {moveFolder.uid}]" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxnews">&nbsp;</span>&nbsp;&nbsp;{moveFolder.title}<span style="float: right" title="Pfad: <f:for each="{moveFolder.rootline}" as="path">\{path.title}</f:for> [UID: {moveFolder.uid}]">[UID: {moveFolder.uid} | Rootpage: {moveFolder.rootpage.title}]</span></f:link.action>
												</li>
											</f:then>
											<f:else>
												<li>Keine passenden Ordner zum Verschieben dieses News-Typs gefunden</li>
											</f:else>
										</v:condition.iterator.contains>
									</f:then>
									<f:else>
										<li>								
											<f:link.action action="moveToFolder" arguments="{pid:moveFolder.uid,uid:newsItem.uid}" title="UID: {moveFolder.uid}"><f:if condition="{moveFolder.folder}">&nbsp;&nbsp;&nbsp;&nbsp;</f:if><span title="{moveFolder.title} [UID: {moveFolder.uid}]" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxnews">&nbsp;</span>&nbsp;&nbsp;{moveFolder.title}<span style="float: right" title="Pfad: <f:for each="{moveFolder.rootline}" as="path">\{path.title}</f:for> [UID: {moveFolder.uid}]">[UID: {moveFolder.uid} | Rootpage: {moveFolder.rootpage.title}]</span></f:link.action>
										</li>
									</f:else>
								</f:if>							
							</f:if>
						</f:for>
					</ul>
				</div>
			</div>
		</f:if>
		<f:link.action action="cloneNews" arguments="{uid:newsItem.uid}" title="UID: {newsItem.uid} duplizieren">
			<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-copy">&nbsp;</span>
		</f:link.action>		
	</td>
	<td class="col-title">				
		<v:variable.set name="state" value="default" />
		<f:if condition="{newsItem.starttime}">
			<v:variable.set name="starttime" value="{newsItem.starttime}" />
			<v:variable.set name="starttime" value="{f:format.date(date: starttime, format: 'U')}" />
		</f:if>
		<f:if condition="{newsItem.endtime}">
			<v:variable.set name="endtime" value="{newsItem.endtime}" />
			<v:variable.set name="endtime" value="{f:format.date(date: endtime, format: 'U')}" />
		</f:if>			
		<f:if condition="{newsItem.fegroup}!=0">
			<v:variable.set name="state" value="secured" />
		</f:if>
		<f:if condition="{newsItem.starttime}">
			<f:if condition="{starttime}>{v:system.timestamp()}">
				<v:variable.set name="state" value="scheduled" />
			</f:if>
		</f:if>
		<f:if condition="{newsItem.endtime}">
			<f:if condition="{endtime}<{v:system.timestamp()}">
				<v:variable.set name="state" value="hidden" />
			</f:if>
		</f:if>
		<f:if condition="{newsItem.hidden}">
			<v:variable.set name="state" value="hidden" />
		</f:if>		
		<v:switch value="{state}">
			<v:case case="hidden" break="TRUE">					
				<v:media.exists file="typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png" >
					<f:then>							
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-hidden t3-icon-overlay">&nbsp;</span></span>
					</f:then>
					<f:else>														
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: newsItem.isSeminar, then: 'seminar', else: 'default')}"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-hidden t3-icon-overlay">&nbsp;</span></span>
					</f:else>
				</v:media.exists>					
			</v:case>
			<v:case case="secured" break="TRUE">
				<v:media.exists file="typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png" >
					<f:then>							
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-access-restricted t3-icon-overlay">&nbsp;</span></span>
					</f:then>
					<f:else>							
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: newsItem.isSeminar, then: 'seminar', else: 'default')}"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-access-restricted t3-icon-overlay">&nbsp;</span></span>
					</f:else>
				</v:media.exists>					
			</v:case>
			<v:case case="scheduled" break="TRUE">
				<v:media.exists file="typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png" >
					<f:then>							
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-scheduled t3-icon-overlay">&nbsp;</span></span>
					</f:then>
					<f:else>
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: newsItem.isSeminar, then: 'seminar', else: 'default')}"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-scheduled t3-icon-overlay">&nbsp;</span></span>
					</f:else>
				</v:media.exists>				
			</v:case>
			<v:case case="default">
				<v:media.exists file="typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png" >
					<f:then>
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png)">&nbsp;</span>
					</f:then>
					<f:else>
						<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: newsItem.isSeminar, then: 'seminar', else: 'default')}">&nbsp;</span>
					</f:else>
				</v:media.exists>	
			</v:case>					
		</v:switch>
		<f:if condition="{demand.sortingMode}==0">
			<f:if condition="{languages.select -> f:count()}>2">
				<f:for each="{languages.items}" as="item" iteration="iteration">
					<f:if condition="{item.uid}=={newsItem.sysLanguageUid}">
						<v:variable.set name="language" value="{item}" />
					</f:if>
				</f:for>
				<v:variable.set name="flag" value="{f:if(condition:language.flagIcon, then:language.flagIcon, else:languages.items.-1.flagIcon)}" />		
				<f:if condition="{newsItem.sysLanguageUid}==0">
					<f:then>
						<f:if condition="{conf.removeTranslationHandling}">
							<f:then>
								<span onclick="toggleTranslations({newsItem.uid})" id="news-translations-{newsItem.uid}-expander" class="t3-icon t3-icon-flags t3-icon-flags-with-overlay t3-icon-{flagn} t3-icon-{flag -> v:format.replace(substring: 'flags-', replacement: '')}">&nbsp;</span>
							</f:then>
							<f:else>
								<span onclick="toggleTranslations({newsItem.uid})" id="news-translations-{newsItem.uid}-expander" class="pointer t3-icon t3-icon-flags t3-icon-flags-with-overlay t3-icon-{flag} t3-icon-{flag -> v:format.replace(substring: 'flags-', replacement: '')}"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<span onclick="toggleTranslations({newsItem.uid})" id="news-translations-{newsItem.uid}-expander" class="t3-icon t3-icon-flags t3-icon-flags-with-overlay t3-icon-{flagn} t3-icon-{flag -> v:format.replace(substring: 'flags-', replacement: '')}">&nbsp;</span>
					</f:else>
				</f:if>
			</f:if>
		</f:if>
		<span onclick="toggleInfoField('#news-info-field-{newsItem.uid}')" id="news-info-field-{newsItem.uid}-expander" class="news-item-expander-reset pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>		
		<v:variable.set name="title" value="{newsItem.title -> f:format.crop(maxCharacters: 40)}" />
		<f:for each="{replacements}" as="replacement">
			<v:variable.set name="title" value="{v:format.replace(substring: replacement.search, content: title, replacement: replacement.replace)}" />
		</f:for>
		<span class="pointer" style="display: inline-block" onclick="toggleInfoField('#news-info-field-{newsItem.uid}')">{title->f:format.raw()}</span>			
	</td>
	<f:if condition="{demand.sortingMode}==0">
		<td>
			<f:if condition="{newsItem.isTopNews}">
				<f:then>
					<img width="16" height="16" alt="Top-News" title=Top-News" src="../typo3/sysext/lang/ext_icon.gif">				
				</f:then>			
			</f:if>		
		</td>
	</f:if>	
	<f:render partial="Administration/ListColums" arguments="{fields: fields, item: newsItem, replacements: replacements, fieldsSeparator: fieldsSeparator}" />		
</tr>
<tr class="tx-moox-news-admin-table-row news-info-field" id="news-info-field-{newsItem.uid}">
	<td colspan="7">
		<div class="news-info-field-content">			
			<f:if condition="{newsItem.falMedia}">				
				<!-- fal media preview element -->
				<f:then>
					<div class="news-info-field-content-inner">
						<strong>Bild in Listenansicht:</strong><br />					
						<f:if condition="{newsItem.falMediaPreviews}">
							<f:then>								
								<f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
									<f:if condition="{mediaElement.originalResource.type} == 2">
										<f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}" alt="{mediaElement.originalResource.alternative}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
									</f:if>
									<f:if condition="{mediaElement.originalResource.type} == 4">
										<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}" />
									</f:if>
								</f:alias>								
							</f:then>							
						</f:if>
					</div>
				</f:then>
				<f:else>
					<f:if condition="{newsItem.media}">
						<!-- media preview element -->
						<f:then>
							<div class="news-info-field-content-inner">
								<strong>Bild in Listenansicht:</strong><br />							
								<f:if condition="{newsItem.mediaPreviews}">
									<f:then>										
										<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
											<f:if condition="{mediaElement.type} == 0">
												<f:image src="uploads/tx_mooxnews/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
											</f:if>
											<f:if condition="{mediaElement.type} == 1">
												<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
											</f:if>
											<f:if condition="{mediaElement.type} == 2">
												<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
											</f:if>
										</f:alias>									
									</f:then>									
								</f:if>
							</div>
						</f:then>						
					</f:if>
				</f:else>
			</f:if>
			<div class="news-info-field-content-inner">
				<strong>Typ:</strong><br />{type}						
			</div>
			<div class="news-info-field-content-inner">
				<strong>{f:if(condition: newsItem.isSeminar, then: 'Seminar-')}Titel:</strong><br />{newsItem.title}
			</div>
			<f:if condition="{newsItem.teaser}">
				<div class="news-info-field-content-inner">
					<strong>Teaser:</strong><br />{newsItem.teaser}
				</div>
			</f:if>
			<f:if condition="{newsItem.author}">
				<div class="news-info-field-content-inner">
					<strong><f:translate key="LLL:EXT:cms/locallang_tca.xlf:pages.author_formlabel" />:</strong><br />{newsItem.author}
				</div>
			</f:if>
			<f:if condition="{newsItem.categories}">
				<div class="news-info-field-content-inner">
					<strong><f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_db.xlf:tx_mooxnews_domain_model_news.categories" />:</strong><br />
					<f:for each="{newsItem.categories}" as="category" iteration="iteration">
						<f:if condition="{iteration.isFirst}">
							<f:then>
								<span class="t3-icon t3-icon-apps t3-icon-apps-toolbar t3-icon-toolbar-menu-shortcut">&nbsp;</span>
							</f:then>
							<f:else>
								<span class="t3-icon t3-icon-mimetypes t3-icon-mimetypes-x t3-icon-x-sys_category">&nbsp;</span>
							</f:else>
						</f:if>		
						<span title="UID: {category.uid}">{category.title} {f:if(condition: iteration.isFirst, then: ' (Hauptkategorie)')}</span>
						{f:if(condition: iteration.isLast, else: '<br />')}						
					</f:for>
				</div>
			</f:if>
			<f:if condition="{newsItem.isSeminar}">
				<f:if condition="{newsItem.seminarStartdate}>0">
					<div class="news-info-field-content-inner">
						<strong>Seminar-Beginn:</strong><br /><f:format.date format="d.m.Y">{newsItem.seminarStartdate}</f:format.date>
					</div>
					<f:if condition="{newsItem.seminarEnddate}>0">
						<div class="news-info-field-content-inner">
							<strong>Seminar-Ende:</strong><br /><f:format.date format="d.m.Y">{newsItem.seminarEnddate}</f:format.date>
						</div>
					</f:if>
					<f:if condition="{newsItem.seminarRegisterUntil}>0">
						<div class="news-info-field-content-inner">
							<strong>Seminar-Anmeldung möglich bis:</strong><br /><f:format.date format="d.m.Y">{newsItem.seminarRegisterUntil}</f:format.date> [ Noch {newsItem.seminarRegisterDaysLeft} Tag(e) ]
						</div>
					</f:if>
				</f:if>
			</f:if>
			<f:if condition="{newsItem.type}!='0'">
				<f:for each="{extendedBackendPreviewFields}" as="extendedBackendPreviewField" iteration="iteration">
					<f:if condition="{extendedBackendPreviewField.extkey}=={newsItem.type}">
						<v:variable.set name="extendedFieldValue" value="{n:getExtendedField(newsItem:newsItem, extendedFieldName:extendedBackendPreviewField.name)}" />						
						<v:switch value="{extendedBackendPreviewField.addToMooxNewsBackendPreview.type}">
							<v:case case="date" break="TRUE">
								<f:if condition="{extendedFieldValue}>0">
									<div class="news-info-translation-field-content-inner">
										<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
										<f:format.date format="d.m.Y">{extendedFieldValue}</f:format.date>
									</div>
								</f:if>																			
							</v:case>
							<v:case case="datetime" break="TRUE">					
								<f:if condition="{extendedFieldValue}>0">
									<div class="news-info-translation-field-content-inner">
										<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
										<f:format.date format="d.m.Y H:i:s">{extendedFieldValue}</f:format.date>
									</div>
								</f:if>																				
							</v:case>
							<v:case case="currency" break="TRUE">
								<div class="news-info-translation-field-content-inner">
									<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
									<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." prependCurrency="FALSE" separateCurrency="TRUE" decimals="2">{extendedFieldValue}</f:format.currency>													
								</div>
							</v:case>
							<v:case case="default">
								<f:if condition="{extendedFieldValue}!=''">
									<div class="news-info-translation-field-content-inner">
										<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
										{extendedFieldValue}
									</div>
								</f:if>
							</v:case>					
						</v:switch>					
					</f:if>
				</f:for>
			</f:if>
			<div class="news-info-field-content-inner">
				<strong>Erstellt am:</strong><br /><f:format.date format="d.m.Y H:i:s">{newsItem.crdate}</f:format.date>
			</div>
			<div class="news-info-field-content-inner">
				<strong>Zuletzt geändert am:</strong><br /><f:format.date format="d.m.Y H:i:s">{newsItem.tstamp}</f:format.date>
			</div>
			<div class="news-info-field-content-inner">
				<strong>Artikel-UID:</strong><br />{newsItem.uid}
			</div>
			<div class="news-info-field-content-inner">
				<strong>Ordner-UID:</strong><br />{newsItem.pid}
			</div>
		</div>
	</td>
</tr>
<f:if condition="{conf.removeTranslationHandling}">
	<f:else>
		<f:if condition="{languages.select -> f:count()}>2">
			<f:if condition="{newsItem.sysLanguageUid}==0">
				<n:be.getTranslations as="translation" newsItem="{newsItem}" settings="{settings}" languages="{languages.items}">
					<f:if condition="{translation.notranslation}">
						<f:then>
							<v:media.exists file="typo3conf/ext/{newsItem.type}/Resources/Private/Language/locallang_db.xlf" >
								<f:then>
									<v:variable.set name="type">
										<v:l key="LLL:EXT:{newsItem.type}/Resources/Private/Language/locallang_db.xlf:tx_{newsItem.type -> v:format.replace(substring: '_', replacement: '')}_domain_model_news" />
									</v:variable.set>						
								</f:then>
								<f:else>
									<v:variable.set name="type">
										<v:l key="LLL:EXT:moox_news/Resources/Private/Language/locallang_db.xlf:tx_mooxnews_domain_model_news" />
									</v:variable.set>		
								</f:else>
							</v:media.exists>
							<v:variable.set name="localizeUrl" value="{localizeUrl -> v:format.replace(substring: '---uid---', replacement: newsItem.uid)}" />
							<v:variable.set name="localizeUrl" value="{localizeUrl -> v:format.replace(substring: '---lang---', replacement: translation.language.1)}" />															
							<tr class="tx-moox-news-admin-table-row news-translation news-translation-missing news-translation-{newsItem.uid}<f:if condition="{parent}=={newsItem.uid}"> news-translation-force-show</f:if>">
								<td></td>
								<td class="col-title" colspan="2">
									<a href="{localizeUrl}">
										<v:media.exists file="typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png" >
											<f:then>
												<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{newsItem.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-icon-missing t3-icon-overlay">&nbsp;</span></span>
											</f:then>
											<f:else>
												<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-icon-missing t3-icon-overlay">&nbsp;</span></span>
											</f:else>
										</v:media.exists>
										<span class="t3-icon t3-icon-flags t3-icon-{translation.language.flagIcon} t3-icon-{translation.language.flagIcon -> v:format.replace(substring: 'flags-', replacement: '')}">&nbsp;</span>
										<span class="t3-icon t3-icon-status t3-icon-status-status t3-icon-status-icon-missing">&nbsp;</span>
										<span>Übersetzung für {translation.language.0} anlegen</span>
									</a>
								</td>
								<td colspan="4"></td>
							</tr>
						</f:then>
						<f:else>
							<v:media.exists file="typo3conf/ext/{translation.type}/Resources/Private/Language/locallang_db.xlf" >
								<f:then>
									<v:variable.set name="type">
										<v:l key="LLL:EXT:{translation.type}/Resources/Private/Language/locallang_db.xlf:tx_{translation.type -> v:format.replace(substring: '_', replacement: '')}_domain_model_news" />
									</v:variable.set>						
								</f:then>
								<f:else>
									<v:variable.set name="type">
										<v:l key="LLL:EXT:moox_news/Resources/Private/Language/locallang_db.xlf:tx_mooxnews_domain_model_news" />
									</v:variable.set>		
								</f:else>
							</v:media.exists>
							<tr class="tx-moox-news-admin-table-row news-translation news-translation-{newsItem.uid}<f:if condition="{parent}=={newsItem.uid}"> news-translation-force-show</f:if>">
								<td class="actions" style="width: 85px">						
									<f:comment>
										<f:form.checkbox class="mooxnews-checkbox" name="items[]" value="{translation.uid}" />
									</f:comment>
									<span class="mooxnews-checkbox-dummy">&nbsp;</span>
									<f:link.action action="deleteTranslation" arguments="{uid:translation.uid, parent:newsItem.uid}" onclick="return window.confirm('Wollen Sie diese Übersetzung wirklich löschen?')" title="UID: {translation.uid} löschen">
										<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
									</f:link.action>
									<a href="#" title="UID: {translation.uid}" onclick="window.location.href='alt_doc.php?returnUrl=<f:format.urlencode>{f:uri.action(action:'index' arguments: {parent: newsItem.uid})}</f:format.urlencode>&edit[tx_mooxnews_domain_model_news][{translation.uid}]=edit'; return false;">			
										<span title="" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
									</a>
									<f:link.action action="toggleTranslationState" arguments="{uid:translation.uid, parent:newsItem.uid}" title="UID: {translation.uid} {f:if(condition: translation.hidden, then: 'aktivieren', else: 'deaktivieren')}">
										<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-{f:if(condition: translation.hidden, then: 'unhide', else: 'hide')}">&nbsp;</span>
									</f:link.action>
								</td>
								<td class="col-title">		
									<a class="news-item-translation-expander" href="javascript:toggleInfoField('#news-info-translation-field-{translation.uid}')" title="{translation.title} [UID: {translation.uid}]">			
										<v:variable.set name="state" value="default" />
										<f:if condition="{translation.starttime}">
											<v:variable.set name="starttime" value="{translation.starttime}" />
											<v:variable.set name="starttime" value="{f:format.date(date: starttime, format: 'U')}" />
										</f:if>
										<f:if condition="{translation.endtime}">
											<v:variable.set name="endtime" value="{translation.endtime}" />
											<v:variable.set name="endtime" value="{f:format.date(date: endtime, format: 'U')}" />
										</f:if>			
										<f:if condition="{translation.fegroup}!=0">
											<v:variable.set name="state" value="secured" />
										</f:if>
										<f:if condition="{translation.starttime}">
											<f:if condition="{starttime}>{v:system.timestamp()}">
												<v:variable.set name="state" value="scheduled" />
											</f:if>
										</f:if>
										<f:if condition="{translation.endtime}">
											<f:if condition="{endtime}<{v:system.timestamp()}">
												<v:variable.set name="state" value="hidden" />
											</f:if>
										</f:if>
										<f:if condition="{translation.hidden}">
											<v:variable.set name="state" value="hidden" />
										</f:if>		
										<v:switch value="{state}">
											<v:case case="hidden" break="TRUE">					
												<v:media.exists file="typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png" >
													<f:then>							
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-hidden t3-icon-overlay">&nbsp;</span></span>
													</f:then>
													<f:else>														
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: translation.isSeminar, then: 'seminar', else: 'default')}"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-hidden t3-icon-overlay">&nbsp;</span></span>
													</f:else>
												</v:media.exists>					
											</v:case>
											<v:case case="secured" break="TRUE">
												<v:media.exists file="typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png" >
													<f:then>							
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-access-restricted t3-icon-overlay">&nbsp;</span></span>
													</f:then>
													<f:else>							
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: translation.isSeminar, then: 'seminar', else: 'default')}"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-access-restricted t3-icon-overlay">&nbsp;</span></span>
													</f:else>
												</v:media.exists>					
											</v:case>
											<v:case case="scheduled" break="TRUE">
												<v:media.exists file="typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png" >
													<f:then>							
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-scheduled t3-icon-overlay">&nbsp;</span></span>
													</f:then>
													<f:else>
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: translation.isSeminar, then: 'seminar', else: 'default')}">><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-scheduled t3-icon-overlay">&nbsp;</span></span>
													</f:else>
												</v:media.exists>				
											</v:case>
											<v:case case="default">
												<v:media.exists file="typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png" >
													<f:then>
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{translation.type}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-translated t3-icon-overlay">&nbsp;</span></span>
													</f:then>
													<f:else>
														<span title="{type}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-{f:if(condition: translation.isSeminar, then: 'seminar', else: 'default')}"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-translated t3-icon-overlay">&nbsp;</span></span>
													</f:else>
												</v:media.exists>	
											</v:case>					
										</v:switch>
										<v:variable.set name="flag" value="{f:if(condition:translation.language.flagIcon, then:translation.language.flagIcon, else:languages.items.-1.flagIcon)}" />
										<span class="t3-icon t3-icon-flags t3-icon-{flag} t3-icon-{flag -> v:format.replace(substring: 'flags-', replacement: '')}">&nbsp;</span>
										<span id="news-info-translation-field-{translation.uid}-expander" class="news-item-expander-reset pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
										{translation.title -> f:format.crop(maxCharacters: 40)}
									</a>
								</td>
								<td>
									<f:if condition="{translation.isTopNews}">
										<f:then>
											<img width="16" height="16" alt="Top-News" title=Top-News" src="../typo3/sysext/lang/ext_icon.gif">				
										</f:then>			
									</f:if>		
								</td>
								<f:render partial="Administration/ListColums" arguments="{fields: fields, item: translation, replacements: replacements, fieldsSeparator: fieldsSeparator}" />	
							</tr>
							<tr class="db_list_normal news-info-translation-field" id="news-info-translation-field-{translation.uid}">
								<td colspan="7">
									<div class="news-info-translation-field-content">								
										<div class="news-info-translation-field-content-inner">
											<strong>Typ:</strong><br />Übersetzung: {type}						
										</div>
										<div class="news-info-translation-field-content-inner">
											<strong>Titel:</strong><br />{translation.title}
										</div>
										<f:if condition="{translation.teaser}">
											<div class="news-info-translation-field-content-inner">
												<strong>Teaser:</strong><br />{translation.teaser}
											</div>
										</f:if>
										<f:if condition="{translation.author}">
											<div class="news-info-translation-field-content-inner">
												<strong><f:translate key="LLL:EXT:cms/locallang_tca.xlf:pages.author_formlabel" />:</strong><br />{translation.author}
											</div>
										</f:if>											
										<f:if condition="{translation.type}!='0'">											
											<f:for each="{extendedBackendPreviewFields}" as="extendedBackendPreviewField" iteration="iteration">												
												<f:if condition="{extendedBackendPreviewField.extkey}=={translation.type}">													
													<v:variable.set name="extendedFieldValue" value="{n:getExtendedField(newsItem:translation, extendedFieldName:extendedBackendPreviewField.nameEmphasized)}" />
													<v:switch value="{extendedBackendPreviewField.addToMooxNewsBackendPreview.type}">
														<v:case case="date" break="TRUE">
															<f:if condition="{extendedFieldValue}>0">
																<div class="news-info-translation-field-content-inner">
																	<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
																	<f:format.date format="d.m.Y">{extendedFieldValue}</f:format.date>
																</div>
															</f:if>																			
														</v:case>
														<v:case case="datetime" break="TRUE">					
															<f:if condition="{extendedFieldValue}>0">
																<div class="news-info-translation-field-content-inner">
																	<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
																	<f:format.date format="d.m.Y H:i:s">{extendedFieldValue}</f:format.date>
																</div>
															</f:if>																				
														</v:case>
														<v:case case="currency" break="TRUE">
															<div class="news-info-translation-field-content-inner">
																<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
																<f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator="." prependCurrency="FALSE" separateCurrency="TRUE" decimals="2">{extendedFieldValue}</f:format.currency>													
															</div>
														</v:case>
														<v:case case="default">
															<f:if condition="{extendedFieldValue}!=''">
																<div class="news-info-translation-field-content-inner">
																	<strong><v:l key="{extendedBackendPreviewField.label}" />:</strong><br />
																	{extendedFieldValue}
																</div>
															</f:if>
														</v:case>					
													</v:switch>													
												</f:if>
											</f:for>
										</f:if>										
										<div class="news-info-translation-field-content-inner">
											<strong>Erstellt am:</strong><br /><f:format.date format="d.m.Y H:i:s">{translation.crdate}</f:format.date>
										</div>
										<div class="news-info-translation-field-content-inner">
											<strong>Zuletzt geändert am:</strong><br /><f:format.date format="d.m.Y H:i:s">{translation.tstamp}</f:format.date>
										</div>
										<div class="news-info-translation-field-content-inner">
											<strong>Artikel-UID:</strong><br />{translation.uid}
										</div>
										<div class="news-info-translation-field-content-inner">
											<strong>Ordner-UID:</strong><br />{translation.pid}
										</div>
									</div>
								</td>
							</tr>
						</f:else>			
					</f:if>		
				</n:be.getTranslations>
			</f:if>
		</f:if>
	</f:else>
</f:if>