{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div class="tx-moox-news-admin-table">
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<thead>
			<tr>
				<th>
					<f:if condition="{page} != 0">	
						<f:if condition="{demand.sortingMode}==0">
							<f:form.checkbox title="Alle wählen/abwählen" name="mooxnews-check-all-top" class="mooxnews-check-all mooxnews-check-all-top" value="checkall" />
						</f:if>
						<f:if condition="{types -> f:count()}>1">
							<f:then>								
								<div class="news-new-buttons-table">
									<f:link.action action="newNews" title="News hinzufügen">
										<span id="news-new-table-selection-extender" title="News hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>									
									</f:link.action>
									<ul id="news-new-selection-table" class="news-new-selection-table">
										<li class="news-new-selection-header">Was wollen Sie hinzufügen?</li>
										<f:for each="{types}" as="typeDesc" key="typeId" iteration="iteration">
											<f:if condition="{typeId}!='0'">
												<f:then>							
													<li>
														<f:link.action action="newNews" arguments="{type:typeId}" title="{typeDesc} hinzufügen">
															<v:media.exists file="typo3conf/ext/{typeId}/Resources/Public/Icons/list-icon.png" >
																<f:then>							
																	<span title="{typeDesc} hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news" style="background-image: url(/typo3conf/ext/{typeId}/Resources/Public/Icons/list-icon.png)"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>&nbsp;{typeDesc}
																</f:then>
																<f:else>														
																	<span title="{typeDesc} hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>&nbsp;{typeDesc}
																</f:else>
															</v:media.exists>
														</f:link.action>
													</li>
												</f:then>
												<f:else>														
													<li>
														<f:link.action action="newNews" arguments="{type:typeId}" title="{typeDesc} hinzufügen">
															<span title="{typeDesc}" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>&nbsp;{typeDesc}
														</f:link.action>
													</li>
												</f:else>
											</f:if>
										</f:for>
									</ul>
								</div>								
							</f:then>
							<f:else>
								<f:for each="{types}" as="typeDesc" key="typeId" iteration="iteration">
									<div class="news-new-buttons-table">
										<f:link.action action="newNews" arguments="{type:typeId}" title="{f:translate(key:'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.createNewNewsRecord')}">
											<span title="News hinzufügen" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-tx_mooxnews_domain_model_news t3-icon-tx_mooxnews_domain_model_news-default"><span class="t3-icon t3-icon-status t3-icon-status-overlay t3-icon-overlay-new t3-icon-overlay">&nbsp;</span></span>
										</f:link.action>
									</div>
								</f:for>
							</f:else>																												
						</f:if>
						<f:if condition="{conf.manualSorting}">
							<f:if condition="{demand.sortingMode}">
								<f:then>
									<f:link.action arguments="{sorting:{mode:0}}" class="sort-mode" title="Sortierungsmodus aktivieren/deaktiveren">
										<f:image src="EXT:moox_news/Resources/Public/Icons/icon-sorting.png" alt="Sortierungsmodus aktivieren/deaktiveren" />
									</f:link.action>
								</f:then>
								<f:else>								
									<f:link.action arguments="{sorting:{mode:1}}" class="sort-mode" title="Sortierungsmodus aktivieren/deaktiveren">
										<f:image src="EXT:moox_news/Resources/Public/Icons/icon-sorting.png" alt="Sortierungsmodus aktivieren/deaktiveren" />
									</f:link.action>
								</f:else>
							</f:if>																																
						</f:if>
					</f:if>
				</th>
				<th>												
					<span><f:translate key="LLL:EXT:cms/locallang_ttc.xlf:header_formlabel" /></span>
					<f:if condition="{demand.sortingMode}==0">
						<f:if condition="{demand.sortingField}=='title'">
							<f:if condition="{demand.sortingDirection}=='ASC'"> 
								<v:variable.set name="sortTitleAscState" value=" active" />
							</f:if>
							<f:if condition="{demand.sortingDirection}=='DESC'"> 
								<v:variable.set name="sortTitleDescState" value=" active" />
							</f:if>
						</f:if>
						<f:link.action arguments="{sorting:{field:'title',direction:'ASC'}}" class="sort sort-asc{sortTitleAscState}" title="Aufsteigend sortieren">
							&#9650;
						</f:link.action>
						<f:link.action arguments="{sorting:{field:'title',direction:'DESC'}}" class="sort sort-desc{sortTitleDescState}" title="Absteigend sortieren">
							&#9660;
						</f:link.action>															
						<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,columns:'title')}" icon="actions-document-open" />
					</f:if>
				</th>
				<f:if condition="{demand.sortingMode}==0">
					<th>
						<span>Top</span>
						<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,columns:'istopnews')}" icon="actions-document-open" />															
					</th>
				</f:if>
				<f:for each="{fields}" as="field" iteration="iteration">
					<f:render partial="Administration/ListHeader" arguments="{demand: demand, field: field, specialSortingFields: specialSortingFields, news: news}" />																						
				</f:for>
			</tr>
		</thead>
		<tbody>
			<f:for each="{paginatedNews}" as="newsItem" iteration="newsIteration" >
				<f:render partial="Administration/ListItem" arguments="{_all}" />
			</f:for>
		</tbody>
	</table>
</div>
<div class="tx-moox-news-admin-table-footer">
	<div id="tx-moox-news-admin-multiple-selector">
		<f:form.checkbox title="Alle wählen/abwählen" name="mooxnews-check-all-bottom" class="mooxnews-check-all mooxnews-check-all-bottom" value="checkall" />
		<div id="tx-moox-news-admin-multiple-selector-txt">
			Keine Einträge gewählt
		</div>
		<f:form.select name="function" class="mooxnews-multiple-function-select" options="{multipleFunctions}" />
		<f:form.submit class="mooxnews-multiple-function-submit" value="Ausführen" />
	</div>
</div>