{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<th>
	<span>
		<f:translate key="{field.label}" default="{field.name}" />
		<v:variable.set name="sortingField" value="{field.name}" />
		<v:variable.set name="specialSortingField" value="{v:variable.get(name:'specialSortingFields.{sortingField}')}" />
		<f:if condition="{specialSortingField}!=''">
			<v:variable.set name="sortingField" value="{specialSortingField}" />
		</f:if>
		<f:for each="{field.additional}" as="additionalField" iteration="iteration">
			| <f:translate key="{additionalField.label}" default="{additionalField.name}" />
			<v:variable.set name="sortingField" value="{sortingField}|{additionalField.name}" />
		</f:for>
	</span>
	<f:if condition="{demand.sortingMode}==0">
		<f:if condition="{demand.sortingField}=={sortingField}">
			<f:if condition="{demand.sortingDirection}=='ASC'"> 
				<v:variable.set name="sortTitleAscState" value=" active" />
			</f:if>
			<f:if condition="{demand.sortingDirection}=='DESC'"> 
				<v:variable.set name="sortTitleDescState" value=" active" />
			</f:if>
		</f:if>
		<f:link.action arguments="{sorting:{field:sortingField,direction:'ASC'}}" class="sort sort-asc{sortTitleAscState}" title="Aufsteigend sortieren">
			&#9650;
		</f:link.action>
		<f:link.action arguments="{sorting:{field:sortingField,direction:'DESC'}}" class="sort sort-desc{sortTitleDescState}" title="Absteigend sortieren">
			&#9660;
		</f:link.action>		
		<v:switch value="{field.name}">
			<v:case case="datetime" break="TRUE">					
				<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,columns:'datetime')}" icon="actions-document-open" />				
			</v:case>
			<v:case case="archive" break="TRUE">					
				<n:be.buttons.icon uri="#" onclick="{n:be.multiEditLink(items:news,columns:'archive')}" icon="actions-document-open" />
			</v:case>	
		</v:switch>
	</f:if>
</th>												