{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<f:layout name="Rss" />


<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->
<!-- *************************************** CONFIGURATION ************************************ -->
<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->

<!-- TEMPLATE CONFIGURATION :: START -->  
<f:section name="Configuration">
	
	<!-- CONFIGURATION :: DEFAULT-TEMPLATE :: START -->
	<flux:form id="moox-news-rss" label="MOOX-News" description="MOOX-News (RSS-Feed)">	
            			
		<flux:grid>
			<flux:grid.row>
				<flux:grid.column colPos="1" name="News-Plugin" />                 
			</flux:grid.row>
		</flux:grid>
		
	</flux:form>	
</f:section>
<!-- TEMPLATE CONFIGURATION :: END -->  

<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->
<!-- ************************************* MAIN-PAGE-SECTION ********************************** -->
<!-- ****************************************************************************************** -->
<!-- ****************************************************************************************** -->


<!-- TEMPLATE MARKUP :: START -->
<f:section name="content"><v:content.render column="1" /></f:section>
<!-- TEMPLATE MARKUP :: END -->  

<!-- ****************************************************************************************** -->