{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{pages}!=''">
	<div class="content-pages-container">
		<f:for each="{v:iterator.explode(content: pages, glue: ',')}" as="page">
			<v:variable.set name="info" value="{v:page.info(pageUid: page)}" />
			<div class="content-page content-page-{page}">
				<f:render partial="Detail/ContentPage" arguments="{page:page, info:info, settings:settings}"/>				
			</div>
		</f:for>
	</div>
</f:if>


