{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="pageContent" value="{v:content.render(column:0,pageUid:page)}" />
<f:if condition="{pageContent}!=''">
	<h3>{info.title}</h3>
	<f:format.raw>{pageContent}</f:format.raw>
</f:if>
