<f:if condition="{media}">
	<div class="media-container">
		<f:for each="{media}" as="mediaElement">
			<div class="media-element">
				<f:if condition="{mediaElement.originalResource.type} == 2">
					<f:render partial="Detail/FalMediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
				</f:if>
				<f:if condition="{mediaElement.originalResource.type} == 4">
					<f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
				</f:if>
			</div>
		</f:for>
	</div>
</f:if>


