<div id="ajaxnews-detail-{newsItem.uid}" class="ajaxnews-detail">
	<f:if condition="{newsItem}">
		<h2>{newsItem.title}</h2>
		<p>{newsItem.bodyText -> f:format.raw()}</p>
		<f:if condition="{extendedFields -> f:count()}>0">			
			<p><f:render partial="Detail/ExtendedFields" arguments="{newsItem:newsItem,extendedFields:extendedFields}" /></p>
		</f:if>
		<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
		<f:render partial="Detail/ContentPagesContainer" arguments="{pages: newsItem.contentPages, settings:settings}" />
		<f:link.page id="ajaxnews-close-detail-{newsItem.uid}" class="ajaxnews-close-detail">
			back
		</f:link.page>
	</f:if>		
</div>