{namespace n=Tx_MooxNews_ViewHelpers}
<div class="ajaxnews-item">
	<f:if condition="{panel}==1">
		<f:then>
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>{newsItem.title}</strong>
				</div>
				<div class="panel-body">
					<p>{newsItem.teaser -> f:format.raw()}</p>
					<f:link.action id="ajaxnews-fetch-detail-{newsItem.uid}" class="ajaxnews-fetch-detail" arguments="{news:newsItem,contentObjectUid:contentObject.uid}" title="{newsItem.title}" action="detail" controller="News" extensionName="MooxNews">
						more
					</f:link.action>
				</div>
			</div>
		</f:then>
		<f:else>
			<h3>{newsItem.title}</h3>
			<p>{newsItem.teaser -> f:format.raw()}</p>
			<f:link.action id="ajaxnews-fetch-detail-{newsItem.uid}" class="ajaxnews-fetch-detail" arguments="{news:newsItem,contentObjectUid:contentObject.uid}" title="{newsItem.title}" action="detail" controller="News" extensionName="MooxNews">
				more
			</f:link.action>
		</f:else>
	</f:if>							
</div>