{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="folderList">
	<ul class="list-unstyled">
		<f:for each="{folders}" as="folder" iteration="iteration">			
			<li class="folder pointer<f:if condition="{page} == {folder.uid}"> active</f:if>">								
				<f:link.action action="index" additionalParams="{id:folder.uid}" title="UID: {folder.uid}"><f:if condition="{folder.folder}">&nbsp;&nbsp;&nbsp;&nbsp;</f:if><span title="{folder.title} [UID: {folder.uid}]" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxnews">&nbsp;</span>&nbsp;&nbsp;{folder.title}<span style="float: right" title="Pfad: <f:for each="{folder.rootline}" as="path">\{path.title}</f:for> [UID: {folder.uid}]">[UID: {folder.uid} | Rootpage: {folder.rootpage.title}]</span></f:link.action>
			</li>		
		</f:for>
	</ul>
</f:section>

<f:section name="categoryTree">
	<ul class="list-unstyled">
		<f:for each="{categories}" as="category" iteration="iteration">
			<v:variable.set name="showCat" value="0" />
			<f:if condition="{category.item.newsType}==''">
				<f:then>
					<v:variable.set name="showCat" value="1" />
				</f:then>
				<f:else>
					<f:if condition="{demand.type}==''">
						<f:then>
							<v:variable.set name="showCat" value="1" />
						</f:then>
						<f:else>
							<v:condition.iterator.contains needle="{demand.type}" haystack="{v:iterator.explode(content: category.item.newsTypes, glue: ',')}">			
								<v:variable.set name="showCat" value="1" />
							</v:condition.iterator.contains>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
			<f:if condition="{showCat}">
				<li>				
					<div class="category-tree-item" style="padding-left: {v:math.product(a: depth, b: 20)}px" >
						<f:form.checkbox id="category-{category.item.uid}" property="selectedCategories" value="{category.item.uid}" />
						<label for="category-{category.item.uid}" class="pointer" title="{category.item.uid}">{category.item.title}</label>									
						<n:be.security.ifAccessToTableIsAllowed table="tx_mooxnews_domain_model_category">
							<a href="" class="category-icon-edit" title="UID: {category.item.uid}" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[sys_category][{category.item.uid}]=edit'; return false;">
								<span title="" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
							</a>										
						</n:be.security.ifAccessToTableIsAllowed>
						<span style="float: right;margin-right: 10px">[UID: {category.item.uid}]</span>
					</div>
					<v:variable.set name="newdepth" value="{v:math.sum(a: depth, b: 1)}" />
					<f:if condition="{category.children}">
						<f:render section="categoryTree" arguments="{categories: category.children, demand:demand, depth: newdepth}" />
					</f:if>
				</li>
			</f:if>
		</f:for>
	</ul>
</f:section>

<f:section name="content">		
	<div class="tx-moox-news-admin">	
		<h1>
			<f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" />
			<v:media.exists file="typo3conf/ext/{demand.type}/Resources/Private/Language/locallang_db.xlf" >
				<f:then>
					<v:variable.set name="type"><v:l key="LLL:EXT:{demand.type}/Resources/Private/Language/locallang_db.xlf:tx_{demand.type -> v:format.replace(substring: '_', replacement: '')}_domain_model_news" /></v:variable.set>
				</f:then>
				<f:else>
					<v:variable.set name="type"><v:l key="LLL:EXT:moox_news/Resources/Private/Language/locallang_db.xlf:tx_mooxnews_domain_model_news" /></v:variable.set>
				</f:else>
			</v:media.exists>
			{type}
		</h1>
		<div class="tx-moox-news-admin-body">	
			<f:if condition="{page} == 0">
				<f:then>
					<div class="typo3-message message-information">
						<div class="message-body">
							<f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:administration.nopageselected" />
						</div>
					</div>
				</f:then>
				<f:else>
					<f:flashMessages renderMode="div" />									
					<div class="tx-moox-news-admin-filter tx-moox-news-admin-filter-folder">
						<div class="filter-field">					
							<div id="selected-folder">
								<img class="current-folder-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
								<span id="folder-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
								<span class="pointer" title="Pfad: <f:for each="{rootline}" as="path">\{path.title}</f:for> [UID: {page}]"><f:if condition="{folder}">{v:page.info(pageUid: folder, field: 'title')} / </f:if>{v:page.info(pageUid: page, field: 'title')}&nbsp;&nbsp;&nbsp;[UID: {page} | Rootpage: {rootpage.title}]</span>
							</div>
							<div class="clear"></div>
						</div>
						<div class="folder-list" id="folder-list">
							<f:if condition="{folders}">
								<f:then>
									<f:render section="folderList" arguments="{page: page, folders: folders}" />
								</f:then>
								<f:else>
									<div class="folder-noothers">Keine anderen Ordner gefunden</div>
								</f:else>
							</f:if>
							<div class="folder-list-footer">							
								<a href="#" id="folder-list-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
							</div>
						</div>
					</div>
					<f:if condition="{demand.sortingMode}==0">
						<f:then>
							<f:form name="demand" id="filterForm" object="{demand}">
								<div class="tx-moox-news-admin-filter tx-moox-news-admin-filter-category">
									<div class="filter-field">					
										<div id="selected-category">
											<img class="current-folder-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
											<span id="category-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
											<span class="pointer" title="{selectedCategories}">
												<f:if condition="{selectedCategories}">
													<f:then>
														{selectedCategories -> f:format.crop(maxCharacters: 40)}
														<v:switch value="{demand.categoryConjunction}">
															<v:case case="AND" break="TRUE">
																[Mit UND verknüpft]
															</v:case>
															<v:case case="OR" break="TRUE">
																[Mit ODER verknüpft]
															</v:case>
															<v:case case="notor" break="TRUE">
																[Mit auschließendem ODER verknüpft]
															</v:case>
															<v:case case="notand" break="TRUE">
																[Mit auschließendem UND verknüpft]
															</v:case>
															<v:case case="default"></v:case>													
														</v:switch>
													</f:then>
													<f:else>
														Alle Kategorien
													</f:else>
												</f:if>
											</span>
										</div>
										<div class="clear"></div>
									</div>
									<div class="category-tree" id="category-tree">
										<f:if condition="{categories}">
											<f:then>
												<f:render section="categoryTree" arguments="{categories: categories, demand: demand, depth: 1}" />									
											</f:then>
											<f:else>								
												<div class="categories-notfound">Keine Kategorien gefunden</div>						
											</f:else>
										</f:if>
										<div class="category-tree-footer">
											<n:be.security.ifAccessToTableIsAllowed table="tx_mooxnews_domain_model_category">
												<f:link.action action="newCategory" class="category-new" title="{f:translate(key:'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:module.createNewCategory')}">
													<f:image src="{f:uri.resource(path:'Icons/news_domain_model_category_add.png')}" />
												</f:link.action>
											</n:be.security.ifAccessToTableIsAllowed>
											<f:if condition="{categories}">
												<label for="categoryConjunction" class="category-conjunction-label">
													<f:translate key="LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:flexforms_general.categoryConjunction" />:
												</label>
												<f:form.select property="categoryConjunction" options="{OR:'Mit ODER verknüpft', AND:'Mit UND verknüpft', notor:'Mit auschließendem ODER verknüpft', notand:'Mit auschließendem UND verknüpft'}" id="categoryConjunction" />
											</f:if>
											<f:form.submit id="filter-apply" class="filter-apply" value="Auswahl übernehmen" />
											<a href="#" id="category-tree-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
											<div class="clear"></div>
										</div>
									</div>
								</div>
								<div class="tx-moox-news-admin-filter">
									<div class="filter-field">
										<f:if condition="{allowedTypes -> f:count()}>0">										
											<f:then>
												<f:form.select property="type" id="filter-type" class="filter-type" options="{types}" />
											</f:then>
											<f:else>								
												<f:if condition="{types -> f:count()}>1">
													<f:form.select prependOptionLabel="Alle Typen" prependOptionValue="" property="type" id="filter-type" class="filter-type" options="{types}" />													
												</f:if>
											</f:else>
										</f:if>	
										<f:form.select property="topNewsRestriction" id="filter-top-news-restriction" class="filter-top-news-restriction" options="{0:'Alle Artikel anzeigen',1:'Nur Top Artikel',2:'Alle außer Top-Artikel'}" />
										<f:if condition="{years -> f:count()}>0">
											<f:form.select property="year" id="filter-year" class="filter-year" options="{years}" />
										</f:if>
										<f:if condition="{languages.select -> f:count()}>2">
											<f:form.select property="sysLanguageUid" id="filter-sys-language-uid" class="filter-sys-language-uid" prependOptionLabel="Alle Sprachen anzeigen" options="{languages.select}" />
										</f:if>										
										<f:comment>
											<f:form.select property="sortingField" id="filter-sorting-field" class="filter-sorting-field" options="{
												title:'Sortiert nach: {f:translate(key: \'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:flexforms_general.orderBy.title\')}',
												datetime:'Sortiert nach: Datum/Uhrzeit',
												tstamp:'Sortiert nach: {f:translate(key: \'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:flexforms_general.orderBy.tstamp\')}',
												archive:'Sortiert nach: {f:translate(key: \'LLL:EXT:moox_news/Resources/Private/Language/locallang_db.xlf:tx_mooxnews_domain_model_news.archive\')}',
												author:'Sortiert nach: {f:translate(key: \'LLL:EXT:cms/locallang_tca.xlf:pages.author_formlabel\')}'
											}" />
											<f:form.select property="sortingDirection" id="filter-sorting-direction" class="filter-sorting-direction" options="{
												asc:'{f:translate(key: \'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:flexforms_general.orderDirection.asc\')}',
												desc:'{f:translate(key: \'LLL:EXT:moox_news/Resources/Private/Language/locallang_be.xlf:flexforms_general.orderDirection.desc\')}'
											}" />
										</f:comment>
									</div>
									<div class="filter-field">	
										<f:if condition="{mailerActive}">
											<f:form.select property="mailerFrequency" id="filter-mailer-frequency" class="filter-mailer-frequency" prependOptionValue="" prependOptionLabel="Alle Mailversand-Optionen anzeigen" options="{0:'Nur nicht für Versand markierte',1:'Nur für Direktversand markierte',2:'Nur für kumulierten Versand markierte'}" />
										</f:if>
										<f:form.textfield type="text" property="query" id="filter-query" class="filter-query{f:if(condition: mailerActive, else: ' filter-query-block')}" placeholder="Suchbegriff eingeben" />
										<f:form.submit id="filter-submit" class="filter-submit" value="suchen" />
										<div class="clear"></div>
									</div>							
								</div>
							</f:form>
						</f:then>							
						<f:else>
							<div class="tx-moox-news-admin-filter" style="display: block">
								<div class="filter-field">																																		
									<f:link.action arguments="{sorting:{mode:0}}" class="sort-mode" title="Sortierungsmodus aktivieren/deaktiveren">
										<f:form.button class="sort-mode-end">Sortierungs-Modus beenden</f:form.button>
									</f:link.action>																					
									<div class="clear"></div>
								</div>
							</div>							
						</f:else>
					</f:if>					
					<f:if condition="{news}">
						<f:then>
							<div class="result">						
								<f:be.widget.paginate objects="{news}" as="paginatedNews" configuration="{itemsPerPage: demand.perPage}">
									<f:if condition="{demand.sortingMode}==0">
										<f:then>
											<f:form action="multiple" method="POST" id="selectForm" object="{selection}">									
												<f:render partial="Administration/ListTable" arguments="{_all}" />								
											</f:form>
										</f:then>
										<f:else>
											<f:render partial="Administration/ListTable" arguments="{_all}" />
										</f:else>
									</f:if>															
								</f:be.widget.paginate>
							</div>
						</f:then>
						<f:else>
							<div class="typo3-message message-notice">
								<div class="message-body">
									Keine Einträge vom Typ "{type}" gefunden
								</div>
							</div>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</div>
	</div>	
</f:section>
