{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Backend/Default" />

<f:section name="content">
	<div class="tx-moox-news-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> Einträge {functionTxt}</h1>
		<f:form action="multiple" method="POST" id="selectForm" object="{selection}">
			<div class="tx-moox-news-admin-body">												
				<div class="tx-moox-news-admin-info">
					<f:if condition="{items -> f:count()}>0">
						<f:then>
							<div class="tx-moox-news-admin-table">
								<table cellpadding="0" cellspacing="0" border="0" width="100%">
									<thead>
										<tr>
											<th>UID</th>
											<th>Titel</th>											
											<th style="text-align:right">Datum</th>											
										</tr>
									</thead>
									<tbody>
										<f:for each="{items}" as="item" iteration="iteration">
											<tr id="mooxnews-row-{item.uid}" class="tx-moox-news-admin-table-row tx-moox-news-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-news-admin-table-row-last')}">
												<td style="width: 50px" class="tx-moox-news-admin-table-value tx-moox-news-admin-table-value-uid">{item.uid}</td>
												<td class="tx-moox-news-admin-table-value tx-moox-news-admin-table-value-title">{item.title}</td>												
												<td style="text-align:right" class="tx-moox-news-admin-table-value tx-moox-news-admin-table-value-datetime">
													<f:if condition="{item.datetime}">
														<f:then>
															<f:format.date format="d.m.Y">{item.datetime}</f:format.date>
														</f:then>
														<f:else>
															kein Datum
														</f:else>
													</f:if>
												</td>												
												<f:form.hidden name="items[]" value="{item.uid}" />
											</tr>
										</f:for>
								</table>									
							</div>
							<f:form.hidden name="function" value="{function}Confirmed" />							
						</f:then>
						<f:else>
							<div class="tx-moox-news-admin-nofeusers">
								Es wurden keine Einträge gewählt
							</div>
						</f:else>
					</f:if>
				</div>								
			</div>
			<div class="mooxnews-multiple-buttons">
				<f:link.action class="mooxnews-multiple-confirm-back" action="index">
					Zurück
				</f:link.action>
				<f:if condition="{items -> f:count()}>0">
					<f:form.submit class="mooxnews-multiple-confirm-submit" value="Wirklich {functionTxt}?" />
				</f:if>
			</div>
		</f:form>
	</div>		
</f:section>