{namespace n=Tx_MooxNews_ViewHelpers}

<f:if condition="{settings.cssBootstrap}">
	<n:includeFile path="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</f:if>
<f:if condition="{settings.cssFile}">
	<n:includeFile path="{settings.cssFile}" />
</f:if>

<div class="news news-single">
	<div class="article">
		<f:render section="content" />
	</div>
</div>