<a href="{url}" style="display:block;width:{width}px;height:{height}px;" id="{uniqueDivId}"></a>
<script type="text/javascript">
	flowplayer("{uniqueDivId}", "typo3conf/ext/moox_news/Resources/Public/JavaScript/Contrib/flowplayer-3.2.16.swf", <![CDATA[{
		clip:{
			autoPlay:false,
			autoBuffering:true
		},
		plugins:{
			controls:{
				volume:true
			}
		}
	});
	]]>
</script>