{namespace n=Tx_MooxNews_ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</n:format.nothing>
			<div class="news-header">				
				<div class="page-header">
					<f:if condition="{newsItem.alternativeTitle}">
						<f:then>
							<h3>{newsItem.alternativeTitle} <small class="pull-right"><span class="date"><n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date></span><f:if condition="{newsItem.categories}"> <span class="pipe">&#448;</span> <span class="category"><f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" /></span></f:if></small></h3>
						</f:then>
						<f:else>
							<h3>{newsItem.title} <small class="pull-right"><span class="date"><n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date></span><f:if condition="{newsItem.categories}"> <span class="pipe">&#448;</span> <span class="category"><f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" /></span></f:if></small></h3>
						</f:else>
					</f:if>
				</div>
			</div>
			<div class="news-content">
				<div class="news-right-content pull-right">
					<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
					<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />	
					
					<f:if condition="{newsItem.relatedFiles}">
						<div class="panel panel-default news-related news-related-files">
							<div class="panel-heading">
								<f:translate key="related-files" />
							</div>
							<div class="panel-body">
								<ul class="list-group">
									<f:for each="{newsItem.relatedFiles}" as="relatedFile">
										<li class="list-group-item">
											<span class="news-related-files-link">
												<n:format.fileDownload file="uploads/tx_mooxnews/{relatedFile.file}" configuration="{settings.relatedFiles.download}" >
													<f:if condition="{relatedFile.title}">
														<f:then>
															{relatedFile.title}
														</f:then>
														<f:else>
															{relatedFile.file}
														</f:else>
													</f:if>
												</n:format.fileDownload>
											</span>
											<span class="badge news-related-files-size">
												<n:format.fileSize file="uploads/tx_mooxnews/{relatedFile.file}" format="{settings.relatedFiles.fileSizeLabels}" />
											</span>
										</li>
									</f:for>
								</ul>
							</div>
						</div>
					</f:if>
					
					<f:if condition="{newsItem.falRelatedFiles}">
						<div class="panel panel-default news-related news-related-files">
							<div class="panel-heading">
								<f:translate key="related-files" />
							</div>
							<div class="panel-body">
								<ul class="list-group">
									<f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
										<li class="list-group-item">
											<span class="news-related-files-link">
												<n:format.fileDownload file="{relatedFile.originalResource.publicUrl}" secure="{newsItem.uid}" configuration="{settings.relatedFiles.download}">
													<f:if condition="{relatedFile.originalResource.title}">
														<f:then>
															{relatedFile.originalResource.title}
														</f:then>
														<f:else>
															{relatedFile.originalResource.name}
														</f:else>
													</f:if>
												</n:format.fileDownload>
											</span>
											<span class="badge news-related-files-size">
												<n:format.fileSize fileSize="{relatedFile.originalResource.size}" format="{settings.relatedFiles.fileSizeLabels}" />
											</span>
										</li>
									</f:for>
								</ul>
							</div>
						</div>
					</f:if>
					
					<f:if condition="{newsItem.relatedLinks}">
						<div class="panel panel-default news-related news-related-links">
							<div class="panel-heading">
								<f:translate key="related-links" />
							</div>
							<div class="panel-body">
								<ul class="list-group">
									<f:for each="{newsItem.relatedLinks}" as="relatedLink" iteration="iteration">
										<li class="list-group-item">
											<f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.page>
											<f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
										</li>
									</f:for>
								</ul>
							</div>
						</div>
					</f:if>
					
					<f:if condition="{newsItem.allRelatedSorted}">
						<div class="panel panel-default news-related news-related-news">
							<div class="panel-heading">
								<f:translate key="related-news" />
							</div>
							<div class="panel-body">
								<ul class="list-group">
									<f:for each="{newsItem.allRelatedSorted}" as="related">
										<li class="list-group-item">
											<n:link newsItem="{related}" settings="{settings}">
												{related.title}
											</n:link>
											<span class="badge news-related-news-date"><n:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</n:format.date></span>
										</li>
									</f:for>
								</ul>
							</div>
						</div>
					</f:if>
				</div>
				<f:if condition="{newsItem.teaser}">
					<span class="news-teaser"><f:format.html>{newsItem.teaser}</f:format.html></span>
				</f:if>
				<f:format.html>{newsItem.bodytext}</f:format.html>
				<f:if condition="{newsItem.contentElements}">
					<f:cObject typoscriptObjectPath="lib.tx_mooxnews.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
				</f:if>
			</div>
			<div class="news-footer">
				<f:if condition="{settings.socialshareprivacy}">
					<n:SocialSharePrivacy></n:SocialSharePrivacy>
				</f:if>
				<f:if condition="{settings.backPid}">
					<div class="news-backlink-wrap">
						<f:link.page pageUid="{settings.backPid}" class="btn btn-primary">
							<f:translate key="back-link" />
						</f:link.page>
					</div>
				</f:if>
			</div>
		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>