{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<v:variable.set name="showFilter" value="0" />
	<f:if condition="{settings.hideFilter}!=1">
		<f:if condition="{types -> f:count()}>0">
			<v:variable.set name="showFilter" value="1" />
		</f:if>
		<f:if condition="{categories}">
			<v:variable.set name="showFilter" value="1" />
		</f:if>
		<f:if condition="{targets}">
			<v:variable.set name="showFilter" value="1" />
		</f:if>
		<f:if condition="{years}">
			<v:variable.set name="showFilter" value="1" />
		</f:if>
	</f:if>	
	<f:if condition="{showFilter}">				
		<f:if condition="{settings.templateLayout}!=2"> 					
			<f:render partial="List/Filter" section="form" arguments="{_all}" />
		</f:if>
	</f:if>
	<f:if condition="{news}">
		<f:then>				
			<f:if condition="{settings.templateLayout}<2">
				<div class="news-list-view clearfix">
					<f:if condition="{settings.hidePagination}">
						<f:then>
							<f:for each="{news}" as="newsItem">
								<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}" />							
							</f:for>
						</f:then>
						<f:else>
							<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
								<f:for each="{paginatedNews}" as="newsItem">
									<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}" />
								</f:for>
							</n:widget.paginate>
						</f:else>
					</f:if>
				</div>
			</f:if>
			<f:if condition="{settings.templateLayout}==2">
				<div class="news-list-view clearfix">
					<div id="carousel-top-news" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<f:for each="{news}" as="newsItem" iteration="iteration">
								<li data-target="#carousel-top-news" data-slide-to="{iteration.index}" class="{f:if(condition: iteration.isFirst, then: 'active')}"></li>
							</f:for>
						</ol>
						<div class="carousel-inner">
							<f:for each="{news}" as="newsItem" iteration="iteration">
								<div class="item{f:if(condition: iteration.isFirst, then: ' active')}">
									<f:render partial="List/ItemTopNews" arguments="{newsItem: newsItem, settings:settings}" />							
								</div>
							</f:for>
						</div>
						<a class="left carousel-control" href="#carousel-top-news" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-top-news" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				</div>	
			</f:if>
		</f:then>
		<f:else>
			<div class="no-news-found">
				<div class="alert alert-info" role="alert"><f:translate key="list_nonewsfound" /></div>
			</div>
		</f:else>
	</f:if>
</f:section>