<f:layout name="General" />

<f:section name="content">
	<f:if condition="{contentObjectData.uid}=={contentObjectUid}">
		<f:then>
			<f:render partial="Detail/Item" arguments="{newsItem: newsItem, settings:settings}" />
		</f:then>
		<f:else>
			<f:if condition="{contentObjectUid}==0">
				<f:render partial="Detail/Item" arguments="{newsItem: newsItem, settings:settings}" />
			</f:if>
		</f:else>
	</f:if>
</f:section>