.news-new-buttons-top {
	display: inline-block;
}

.news-new-buttons-table {
	display: inline-block;
}

.news-move {
	display: inline-block;
}

.news-new-buttons-top .t3-icon-overlay-new, .news-new-buttons-table .t3-icon-overlay-new {
	background-image: url(/typo3conf/ext/moox_news/Resources/Public/Icons/icon-overlay-new.png) !important;
	background-size: auto;
}

td.col-title .t3-icon-overlay-new {
	background-image: url(/typo3conf/ext/moox_news/Resources/Public/Icons/icon-overlay-flag-new.png) !important;
	background-size: auto;
	background-position: center 2px;	
}

ul.news-new-selection-top {
	display: none;
	margin-top: 5px;
	position: absolute;
	background-color: #dadada;
	z-index: 100;
	list-style-type: none;
	padding-left: 0px;
	padding: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
}

ul.news-new-selection-top li {	
	padding: 5px;
	padding-bottom: 3px;
	min-width: 200px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #dadada;	
}

ul li.news-new-selection-header {	
	padding: 5px;
	padding-bottom: 3px;
	min-width: 200px;
	background-color: #585858 !important;
	color: #FFFFFF;
	font-weight: bold;
	border-bottom: 1px solid #dadada;	
}

ul.news-new-selection-top li:hover {
	background-color: #FFFFFF;
}

ul li.news-new-selection-header:hover {
	background-color: #dadada;
}

ul.news-new-selection-top li a {
	display: block;
}

ul.news-new-selection-top li a:hover {
	text-decoration: none;
}

th ul.news-new-selection-table {
	display: none;
	position: absolute;
	background-color: #dadada;
	z-index: 100;
	list-style-type: none;
	padding-left: 0px;
	margin-top: 10px;
	padding: 1px;
	padding-top: 0px;
	padding-bottom: 0px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
}

th ul.news-new-selection-table li {	
	padding: 5px;
	padding-bottom: 3px;
	min-width: 200px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #dadada;	
}

th ul.news-new-selection-table li:hover {
	background-color: #FFFFFF;	
}

th ul.news-new-selection-table li a {
	display: block;
	color: #212424;
}

th ul.news-new-selection-table li a:hover {
	text-decoration: none;
	color: #212424;
}

.news-move-expander {
	vertical-align: middle;
	margin-right: 3px;
}

.news-move-selection {
	display: none;
	position: absolute;
	z-index: 100;
	padding-top: 22px;
	margin-top: -16px;
	/*margin-bottom: -16px;*/
}

.news-move-selection ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
}

.news-move-selection ul li {	
	padding: 5px;
	padding-bottom: 3px;
	min-width: 540px;
	background-color: #EEEEEE;
	border-bottom: 1px solid #dadada;	
}

.news-move-selection ul li.news-move-selection-header {	
	padding: 5px;
	padding-bottom: 3px;
	min-width: 540px;
	background-color: #585858 !important;
	color: #FFFFFF;
	font-weight: bold;
	border-bottom: 1px solid #dadada;	
}

.news-move-selection ul li:hover {
	background-color: #FFFFFF;
}

.news-move-selection ul li.news-move-selection-header:hover {
	background-color: #dadada;
}

.news-move-selection ul li a {
	display: block;
}

.news-move-selection ul li a:hover {
	text-decoration: none;
}

.news-administration .clear {
	clear: both;
}

.news-administration  .news-info-field, .news-administration  .news-info-translation-field {
	display: none;
	
}

.news-administration  .news-info-field-content, .news-administration  .news-info-translation-field-content{
	margin: 5px;
	
	padding: 10px;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
}

.news-administration  .news-info-field-content-inner, .news-administration  .news-info-translation-field-content-inner {
	margin-bottom: 10px;
}

.news-administration  .query {
	background-color: #bce8f1;
}

.news-administration  .news-info-field-content-inner img, .news-administration  .news-info-translation-field-content-inner img {
	margin-top: 5px;
	border: 1px solid #BBBBBB;
	padding: 3px;
}

.news-administration tr.news-translation {
	display: none;
	border-bottom: 1px solid #FFFFFF;
	background-color: #f3f3f3;
}

.news-administration tr.news-translation.news-translation-force-show {
	display: table-row;
}

.news-administration tr.news-translation-missing td a {
	display: inline-block;
}

.news-administration .news-translation .col-title {
	padding-left: 28px;
}

.news-administration .submitButton {
	float: right;
	margin-top: -30px;
}

.news-administration .actions a {
	text-decoration: none;
}

.news-administration .result .item {
	padding: 1px;
}

.news-administration .result .item a {
	font-style: italic;
}

.news-administration .result .item a :hover {
	text-decoration: underline;
}

.news-administration .hide {
	opacity: 0.5;
}

.news-administration .news-item-expander, .news-administration .news-item-translation-expander {
	text-decoration: none;
}

.news-administration .news-item-expander:hover, .news-administration .news-item-translation-expander:hover  {	
	display: block;
}

.news-administration .category-new {
	float: left; 
	margin-right: 23px;
	margin-top: 4px;
}

.news-administration .pointer {
	cursor: pointer;
}	

#tx-moox-news-admin-overlay 
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
}

.tx-moox-news-admin {

}

.tx-moox-news-admin h1 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	vertical-align: middle;
}

.tx-moox-news-admin img.moox-icon {
	float: left;
	margin-right: 10px;
}

.tx-moox-news-admin .folder-noothers {	
	background-color: #FFFFFF;
	padding:5px;
}

.tx-moox-news-admin .categories-notfound {	
	background-color: #FFFFFF;
	padding:5px;
}

.typo3-docheader-buttons a {	
	display: inline-block;	
}

.typo3-docheader-buttons .buttongroup {	
	margin-top: -2px;
}

.typo3-docheader-buttons input[type="submit"]{
	border: 0px;
	padding: 0px;
	margin: 0px;	
}

.tx-moox-news-admin-table .sort-up {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tx-moox-news-admin-table .sort-asc a, .tx-moox-news-admin-table .sort-desc a {
	color: #888888;	
}

.tx-moox-news-admin-table .sort-asc a:hover, .tx-moox-news-admin-table .sort-desc a:hover {
	color: #FFFFFF;	
}

.tx-moox-news-admin-table .sort-asc.active a, .tx-moox-news-admin-table .sort-desc.active a  {
	color: #FFFFFF;	
}

.tx-moox-news-admin input.remove-image {
	border: 0px;
}

.tx-moox-news-admin input.add-image {
	padding: 6px;
}


.typo3-messages {
	margin-bottom: 20px !important;
}

img.mailing-state {
	vertical-align: middle;
}

.news-administration #typo3-dblist-pagination {
	background-color: #EEEEEE;
	padding-left: 10px;
	margin-top: 15px;
}

.tx-moox-news-admin a {
	text-decoration: none !important;
}

.tx-moox-news-admin .clear {
	clear: both;
}

.tx-moox-news-admin .tx-moox-news-admin-nonews {
	text-align: center;
	padding: 50px;
	background-color: #EEEEEE;
}

.tx-moox-news-admin .actions a {
	text-decoration: none;
}

.tx-moox-news-admin .pointer {
	cursor: pointer;
}

.tx-moox-news-admin-buttons {	
	font-weight: bold;	
}

.tx-moox-news-admin-buttons a {
	color: #000000;
	line-height: 28px;
	display: inline-block;
	padding: 3px;
	padding-right: 10px;
	background-position: 10px 5px;
	background-color: #EEEEEE;
	cursor: pointer;
	text-decoration: none;
}

.tx-moox-news-admin-buttons a:hover,.tx-moox-news-admin-buttons a.active {
	background-color: #DDDDDD;
}

.tx-moox-news-admin-filter {
	background-color: #EDEDED;
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	padding: 12px;
	margin-bottom: 5px;
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.tx-moox-news-admin-filter-folder {
	padding-top: 5px;
	padding-bottom: 5px;
}

.tx-moox-news-admin-filter-category {
	padding-top: 5px;
	padding-bottom: 5px;
}	

.tx-moox-news-admin form {
	margin-bottom: 0px !important;
}

.tx-moox-news-admin-filter .filter-field {
	padding: 2px 0;
}


.tx-moox-news-admin-filter .filter-field select {
	height: 25px;
	line-height: 25px;	
}

.tx-moox-news-admin-filter .filter-field input {
	height: 23px;
	line-height: 23px;
	padding: 0px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
}

.tx-moox-news-admin-filter .filter-type {	
	width: 22%
}

.tx-moox-news-admin-filter .filter-top-news-restriction {	
	width: 24%
}

.tx-moox-news-admin-filter .filter-sys-language-uid {
	width: 28%
}

.tx-moox-news-admin-filter .filter-year {
	width: 24%
}

.tx-moox-news-admin-filter .filter-query {	
	float: left;
	width: 58%
}

.tx-moox-news-admin-filter .filter-query-block {
	width: 88%;	
}

.tx-moox-news-admin-filter .filter-mailer-frequency {
	float: left;
	margin-right: 4px;
}

.tx-moox-news-admin-filter .filter-submit {
	width: 10%;
	float: right;
}

.tx-moox-news-admin-filter .filter-field label {
	display: block;
	float: left;
	width: 150px;
}

.tx-moox-news-admin-filter .filter-field h2 {
	font-family: Share, Verdana, Arial, Helvetica, sans-serif;
	font-variant: normal;
	font-weight: bold;
	font-size: 16px;
	margin: 0px;
	margin-bottom: 5px;
	display: inline-block;
	background-color: #FFFFFF;
	color: #585858;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.tx-moox-news-admin-filter .folder-list {		
	display: none;
	border: 1px solid #CCCCCC;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	margin-bottom: 10px;	
	margin-top: 10px;	
}

.tx-moox-news-admin-filter .folder-list-footer {
	padding-left: 20px;
	border-top: 2px solid #999999;
	margin-top: -1px;
	background-color: #BBBBBB;
	color: #FFFFFF;
	font-weight: bold;
	text-align: right;
}

.tx-moox-news-admin-filter a#folder-list-close {
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;	
}

.tx-moox-news-admin-filter .folder-noothers {	
	background-color: #FFFFFF;
	padding:5px;
}

.tx-moox-news-admin-filter .folder-icon {	
	float: left;
	margin-right: 10px;
}

.tx-moox-news-admin-filter .current-folder-icon {		
	
}

.tx-moox-news-admin-filter .folder-list ul {
	margin: 0px;
	margin-bottom: -2px;
}

.tx-moox-news-admin-filter .folder-list ul li {
	background-color: #FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	padding: 3px;
	padding-left: 15px;
}

.tx-moox-news-admin-filter .folder-list ul li:hover {
	background-color: #F1F1F1;	
}

.tx-moox-news-admin-filter .folder-list ul li.active {
	background-color: #F1F1F1;	
}

.tx-moox-news-admin-filter .folder-list ul li.folder-last {
	border: 0px;
}

.tx-moox-news-admin-filter .folder-list ul li a {
	display: block;
	text-decoration: none;
}

.tx-moox-news-admin .category-tree {	
	display: none;
	border: 1px solid #CCCCCC;
	-moz-box-shadow: 0px 0px 10px #333333;
	-webkit-box-shadow: 0px 0px 10px #333333;
	box-shadow: 0px 0px 10px #333333;
	margin-bottom: 10px;	
	margin-top: 10px;
}

.tx-moox-news-admin .category-tree input {
	margin: 0px;
}

.tx-moox-news-admin .category-tree select {
	margin-top: 3px;
}

.tx-moox-news-admin .category-tree ul {
	margin: 0px;
	padding: 0px;
}

.tx-moox-news-admin .category-tree li {	
	background-color: #FFFFFF;
	border-bottom: 2px solid #EEEEEE;
	padding: 1px;
	padding-left: 0px;
	
}

.tx-moox-news-admin .category-tree li li {
	border: 0px;
}

.tx-moox-news-admin-filter .category-tree  ul li:hover {
	background-color: #F1F1F1;	
}

.tx-moox-news-admin .category-tree  .category-tree-item {		
	vertical-align: top;
}

.tx-moox-news-admin .category-tree .category-icon-edit {
	float: right;
}

.tx-moox-news-admin .category-tree input {
	margin-right: 4px;
}

.tx-moox-news-admin label.category-conjunction-label {		
	width: auto !important;
	margin-right: 10px;	
	
}

.tx-moox-news-admin a#category-tree-close {
	float: right;
	margin-top: 4px;
	text-decoration: none;
	font-weight: normal;
	color: #FFFFFF;
}

.tx-moox-news-admin .category-tree-footer input.filter-apply {
	font-weight: normal;
	line-height: 18px;
	margin-top: -4px;
}

.tx-moox-news-admin .category-tree-footer select {
	color: #666666;
	font-weight: normal;
	margin-right: 20px;
}

.tx-moox-news-admin .category-tree-footer {
	padding-left: 20px !important;
	border-top: 2px solid #999999;
	margin-top: -1px;
	background-color: #BBBBBB;
	color: #FFFFFF;
	font-weight: bold;	
}

.tx-moox-news-admin-body {
	background-color: #DDDDDD;
	padding: 10px;
}

.tx-moox-news-admin-header {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
}

.tx-moox-news-admin-table {
	border-bottom: 1px solid #f3f3f3;
}

.tx-moox-news-admin-table table th {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	text-align: left;
}

.tx-moox-news-admin-table-label {
	font-weight: bold;
	padding: 5px;
}

.tx-moox-news-admin-table-value {	
	padding: 5px;
}

.tx-moox-news-admin .tx-moox-news-admin-form {
	background-color: #EEEEEE;
	padding: 10px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-header {		
	background-color: #BBBBBB;
	color: #FFFFFF;
	padding: 5px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 10px;
	max-width: 800px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-header.has-error {
	background-color: #d9534f;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item {		
	background-color: #EEEEEE;	
	line-height: 30px;
	margin-bottom: 5px
}

.tx-moox-news-admin .tx-moox-news-admin-form-item.has-error {
	
}

.tx-moox-news-admin .tx-moox-news-admin-form-item.has-error input {
	border-color: #d9534f;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item-disabled {		
	background-color: #F9F9F9;	
	color: #BBBBBB;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item label {
	display: inline-block;
	width: 140px;
	padding-left: 10px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item select {
	height: 25px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item input[type="text"]{
	width: 795px;
	line-height: 22px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item input#import-separator {
	width: 20px;	
}

.tx-moox-news-admin .tx-moox-news-admin-form-item input#news-zip {
	width: 50px;	
}

.tx-moox-news-admin .tx-moox-news-admin-form-item input#news-city {
	width: 725px;	
}

.tx-moox-news-admin .tx-moox-news-admin-form-item textarea{
	width: 800px;	
	height: 500px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item .news-image {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 5px;
	width: 788px;
	margin-bottom: 5px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item .news-image-thumb {
	width: 110px;
	float: left;
	height: 90px;
	overflow: hidden;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item .news-image-thumb img {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-radius: 3px;
	padding: 3px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item .news-image-name {
	float: left;
}

.tx-moox-news-admin .tx-moox-news-admin-form-item .news-image-name input {
	margin-right:5px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-submit {		
	margin-top: 15px;
}

.tx-moox-news-admin .tx-moox-news-admin-form-submit input[type="submit"]{		
	line-height: 22px;
}

.t3-icon-tx_mooxnews_domain_model_news-seminar {
	background-position: 0px 0px !important;
	background-image: url(/typo3conf/ext/moox_news_seminars/Resources/Public/Icons/newsseminars_domain_model_news.png) !important;
}

.tx-moox-news-admin a.sort-mode {
	display: inline-block;
	vertical-align: top;
	line-height: 0px;
}

.tx-moox-news-admin a.sort-mode img {
	
}

.tx-moox-news-admin button.sort-mode-end {
	background-image: url(/typo3conf/ext/moox_news/Resources/Public/Icons/icon-sorting.png);
	background-repeat: no-repeat;
	background-position: 3px 5px;
	padding-left: 25px;
	line-height: 20px;
	margin: 0px;
	vertical-align: middle;	
}

.tx-moox-news-admin button.sort-mode-end img {
	vertical-align: middle;
}

.tx-moox-news-admin a.sort-up {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.tx-moox-news-admin a.sort-asc, .tx-moox-news-admin a.sort-desc, .tx-moox-address-admin-table a.sort-desc {
	color: #888888;	
}

.tx-moox-news-admin a.sort-asc:hover, .tx-moox-news-admin a.sort-desc:hover, .tx-moox-address-admin-table a.sort-desc:hover {
	color: #FFFFFF;	
}

.tx-moox-news-admin a.sort-asc.active, .tx-moox-news-admin a.sort-desc.active, .tx-moox-address-admin-table a.sort-desc.active  {
	color: #FFFFFF;	
}

#tx-moox-news-admin-multiple-selector {
	display: none;
	background-color: #EEEEEE;
	padding: 5px;
}

#tx-moox-news-admin-multiple-selector-txt {
	display: inline-block;
	background-color: #33a3d3;
	color: #FFF;
	border: 1px solid #EEEEEE;
	border-radius: 4px;
	line-height: 24px;	
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 10px;
}

.mooxnews-multiple-function-submit {
	margin: 0px;	
}

.mooxnews-multiple-function-select {
	line-height: 24px;
	height: 24px;
	margin-left: 5px;
}

.mooxnews-check-all-top {
	margin: 0px;
	margin-right: 6px;
	margin-left: 8px;
}

.mooxnews-check-all-bottom {
	margin: 0px;
	margin-left: 8px;	
}

.mooxnews-checkbox {
	margin: 0px;
	margin-right: 5px;
	margin-left: 8px;
}

.mooxnews-checkbox-dummy {
	display: inline-block;
	width: 26px;
}

.mooxnews-multiple-buttons {
	margin-top: 15px;
}

.mooxnews-multiple-confirm-back {
	background-color: #E0E0E0;
	background-image: none;
	border: 1px solid #7c7c7c;
	border-radius: 2px;
	color: #434343;
	cursor: pointer;
	white-space: nowrap;	 
	text-decoration: none!important;
	line-height: 18px;
	display: inline-block;
	margin: 0 0.5em 0.5em 0;
	padding: 3px 6px;
	vertical-align: middle;
}

.mooxnews-multiple-confirm-submit {
	float: right;
	line-height: 18px;
}

.mooxnews-window-open {	
	display: inline-block;	
	height: 16px;
	width: 16px;
	overflow: hidden;	
	background-image: url(/typo3conf/ext/moox_news/Resources/Public/Icons/icon_window.png);		
	float: right;
	margin-left: 5px;
}

.mooxnews-mailing-deactivated {	
	background-image: url(/typo3conf/ext/moox_news/Resources/Public/Icons/icon_mailing_deactivated.png) !important;
}

.mooxnews-mailing-activated {	
	background-image: url(/typo3conf/ext/moox_news/Resources/Public/Icons/icon_mailing_activated.png) !important;
}

.tx-moox-news-admin-table table th {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	text-align: left;
}

.tx-moox-news-admin-table table td {
	padding: 5px;
}

.tx-moox-news-admin-table table th {
	background-color: #585858;
	color: #FFFFFF;
	padding: 5px;
	text-align: left;
}

.tx-moox-news-admin-table table th a {
	color: #DDDDDD;	
}

.tx-moox-news-admin-table table th a:hover {
	color: #FFFFFF;	
}

.tx-moox-news-admin-table-row {
	border-bottom: 1px solid #f3f3f3;
	background-color: #FFFFFF;
}

.tx-moox-news-admin-table-row-even {
	/*background-color: #f3f3f3;*/
	background-color: #FFFFFF;
}

.tx-moox-news-admin-table-row-odd {
	background-color: #FFFFFF;
}

.tx-moox-news-admin-table-row:hover {
	background-color: #d9edf7;
}

.tx-moox-news-admin-table-row.tx-moox-news-admin-table-row-selected {
	background-color: #d9edf7;
}

.tx-moox-news-admin-table-footer {
	margin-top: 15px;	
}
