.palette-header {
	margin-left: 10px;
	display: block;
	border: none;
}

td.palette-header {
	padding-left: 0px !important;
}

span.t3-form-palette-field-container, span.t3-form-field-container {	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 33%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(33%,#ffffff), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 33%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to right,  #ffffff 0%,#ffffff 33%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=1 ); /* IE6-9 */
	display: block;
	padding: 5px;
	border: none;
	margin-bottom: 6px;
}

span.t3-form-palette-field-container:hover, span.t3-form-field-container:hover{
	-moz-box-shadow: 0px 0px 4px #ff8600;  
	-webkit-box-shadow: 0px 0px 4px #ff8600;   
	box-shadow: 0px 0px 4px #ff8600; 
}

fieldset..t3-form-palette-fieldset {
	border: none;
}

td {
	border: 0;
}

table.typo3-dyntabmenu td.tab a {
	background: #ff8600; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff8600 1%, #ff8600 49%, #ffb266 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#ff8600), color-stop(49%,#ff8600), color-stop(100%,#ffb266)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #ff8600 1%,#ff8600 49%,#ffb266 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #ff8600 1%,#ff8600 49%,#ffb266 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #ff8600 1%,#ff8600 49%,#ffb266 100%); /* IE10+ */
	background: linear-gradient(to right,  #ff8600 1%,#ff8600 49%,#ffb266 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8600', endColorstr='#ffb266',GradientType=1 ); /* IE6-9 */
	font-weight: bold;
	color: #FFFFFF;

}

.t3-TCEforms-reqImg {
	margin-left: 7px;
}

table.typo3-dyntabmenu td.tabact a {
	font-weight: bold;
}

table.typo3-dyntabmenu td.tabact a, 
table.typo3-dyntabmenu td.tab_over a, 
table.typo3-dyntabmenu td.tabact_over a, 
table#typo3-tabmenu td.tabact, 
table#typo3-tabmenu td.tab:hover, 
table#typo3-tabmenu td.tabact:hover {
	font-weight: bold;
	background-color: #fbfbfb;
	border-bottom: 1px solid #fbfbfb;
	color: #000000;
}

.typo3-dyntabmenu-divs {
	width: auto !important;
}

.typo3-dyntabmenu-divs table.typo3-dyntabmenu {
	width: 680px;
}

img.t3-TCEforms-reqTabImg {
	width: 1px;
}