.wrapperTable {
	margin-top: 10px;
}


.palette-header {
	margin-left: 10px;	
	border: none;
}

.t3-form-field-item {
	padding-top: 0px;
}

td.palette-header {
	padding-left: 0px !important;
}

td.palette-header strong {
	padding-left: 11px;
}

span.t3-form-palette-field-container, span.t3-form-field-container {	
	
	display: block;	
}

fieldset..t3-form-palette-fieldset {
	border: none;
}

td {
	border: 0;
}

table.typo3-dyntabmenu td.tab a {
	
}

.t3-TCEforms-reqImg {
	margin-left: 7px;
}

table.typo3-dyntabmenu td.tabact a {
	font-weight: bold;
}

table.typo3-dyntabmenu td.tabact a, 
table.typo3-dyntabmenu td.tab_over a, 
table.typo3-dyntabmenu td.tabact_over a, 
table#typo3-tabmenu td.tabact, 
table#typo3-tabmenu td.tab:hover, 
table#typo3-tabmenu td.tabact:hover {
	font-weight: bold;
	background-color: #fbfbfb;
	border-bottom: 1px solid #fbfbfb;
	color: #000000;
}

.typo3-dyntabmenu-divs {
	width: auto !important;
}

tr.class-main31 br{
	display: inline-block;
}

.class-main33 span[data-field=fe_group] {
	font-weight: bold !important;
}

.class-main35 select {
	height: 100px;	
}

.typo3-dyntabmenu-divs table.typo3-dyntabmenu {
	/*width: 680px;*/
}


img.t3-TCEforms-reqTabImg {
	width: 1px;
}