<f:layout name="Request" />

<f:section name="content">	
	<f:render partial="Detail/Item" arguments="{_all}" />	
	<input type="hidden" id="ajaxnews-request-title" value="{newsItem.title}">
</f:section>