<f:if condition="{media}">
	<div class="media-container">
		<f:for each="{media}" as="mediaElement">
			<div class="media-element">
				<f:if condition="{mediaElement.type} == 0">
					<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}" />
				</f:if>
				<f:if condition="{mediaElement.type} == 1">
					<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}" />
				</f:if>
			</div>
		</f:for>
	</div>
</f:if>


