{namespace n=Tx_MooxNews_ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{settings.cssBootstrap}">
	<v:asset.style path="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" standalone="1" external="1" />		
</f:if>
<f:if condition="{settings.cssFile}">
	<v:asset.style path="{settings.cssFile}" />	
</f:if>
<f:render partial="List/AjaxInit" arguments="{_all}" />
<div id="ajaxnews-c{contentObjectData.uid}" class="ajaxnews">
	<f:flashMessages class="tx-news-flash-message" />
	<f:render section="content" />
</div>
